# colab 사용법

* MAC을 사용하는 경우 Ctrl 대신 Command입니다. Alt 대신 Option입니다.
1. **실행 단축키**
    1. (필수) `Ctrl(Command)` + `Enter` : 해당 셀 실행
    2. `Shift` + `Enter` : 해당 셀 실행 + 커서를 다음 셀로 이동
    3. (필수) `Alt(Option)` + `Enter` : 해당 셀 실행 + 코드 불록 하단 추가
2. **셀 삽입/삭제 관련 단축키**
    1. `Ctrl(Command)` + M A : 코드 셀 위에 삽입
    2. `Ctrl(Command)` + M B : 코드 셀 아래 삽입
    3. `Ctrl(Command)` + M D : 셀 지우기
    4. `Ctrl(Command)` + M Y : 코드 셀로 변경
    5. `Ctrl(Command)` + M M : 마크다운 셀로 변경
    6. `Ctrl(Command)` + M Z : 실행 취소
3. 수정 관련된 단축키
    1. `Ctrl(Command)` + `Alt(Option)` + 화살표위아래 : 동시 수정
    2. (자주) `Ctrl(Command)` + D : 같은 단어 찾아 동시 수정
    3. `Ctrl(Command)` + `Shift` + L : 동일 단어를 전체로 찾아 동시 수정
    4. `Alt(Option)` + `Shift` + 화살표위아래 : 해당내용을 위나 아래 복사해서 붙여넣기
    5. `Alt(Option)` + 화살표위아래 : 해당 내용을 위나 아래로 보내기
    6. (자주) `Ctrl(Command)` + `Alt(Option)` + 화살표위아래 : 위아래 동시 수정
    7. (자주) Home, End : 문장의 양 끝
    8. (필수) `Ctrl` + `/` : 주석
    9. (필수) `Shift` + `Del` : 한 줄 지우기
    10. (필수) `Tab`, `Ctrl` + `]` : 들여쓰기
    11. (필수) `Shift` + `Tab`, `Ctrl` + `[` : 내어쓰기
4. 단축키 보기 및 설정
    1. `Ctrl(Command)` + M H : 단축키 모음

# 마크다운

* 필수 마크다운

    ```
    # hello
    ## hello
    ### hello

    1. hello
    2. hello
    3. hello

    * hello
    * hello
    * hello
    ```

* 선택 마크다운(필수가 아니니 부담가지지 마세요.)

    ```
    # h1
    ## h2
    ### h3
    #### h4
    ##### h5
    ###### h6

    ---

    1. hello
    2. hello
    3. hello

    * hello
    * hello
    * hello

    - hello
    - hello
    - hello

    __굵게__
    **굵게**
    _기울여 쓰기_
    *기울여 쓰기*
    ~취소선~
    ~~취소선~~

    > 인용문 작성하기
    `인라인 코드는 이렇게 작성해요.`

    [인라인 링크](https://velog.io/)

    ![이미지 설명](이미지 링크)
    
    * table은 직접 만들지 마시고 https://www.tablesgenerator.com/markdown_tables 와 같은 서비스를 이용하세요.
    
    | 1 | 2     | 3 | 4 | 5     |
    |---|-------|---|---|-------|
    | 1 | hello | 3 | 4 | world |

    * [ ] hello
    * [X] hello
    ```

# Python

In [ ]:
#행 단위 주석입니다.

"""
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
"""

'''
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
'''

'\n큰 따옴표로 세번 묶거나\n작은따옴표로 세번 묶으면\n열단위 주석이 됩니다.\n'

In [ ]:
# 아래와 같이 열단위 주석으로 text를 넣을 수도 있습니다.
data = '''
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
'''

data

* Code convention python
* https://google.github.io/styleguide/
* https://google.github.io/styleguide/pyguide.html

In [ ]:
def connect_to_next_port(self, minimum: int) -> int:
    """Connects to the next available port.

    Args:
      minimum: A port value greater or equal to 1024.

    Returns:
      The new minimum port.

    Raises:
      ConnectionError: If no available port is found.
    """
    if minimum < 1024:
        # Note that this raising of ValueError is not mentioned in the doc
        # string's "Raises:" section because it is not appropriate to
        # guarantee this specific behavioral reaction to API misuse.
        raise ValueError(f'Min. port must be at least 1024, not {minimum}.')
    port = self._find_next_open_port(minimum)
    if port is None:
        raise ConnectionError(
            f'Could not connect to service on port {minimum} or higher.')
    assert port >= minimum, (
        f'Unexpected port {port} when minimum was {minimum}.')
    return port

In [ ]:
connect_to_next_port

In [ ]:
# 띄어쓰기 4칸 (tab(스페이스 4칸과 다릅니다!), 6칸, 7칸 다 작동합니다.)

In [ ]:
# 아래와 같이 탭과 띄어쓰기 4번을 혼용하시면 error가 납니다.
for i in range(10):
    print(i)
	print('큰 따옴표로 세번 묶거나')

In [ ]:
a = 10     #int, 정수형
b = 10.1   #float, 실수
c = -1
d = True   #bool, 논리형(부울형, 참거짓형)
e = 'good'
f = '10'   #str, 문자열
g = 'kim'
h = 'honggildong'
i = 'example'
j = 10 + 2j #complex, 복소수
k = 0b110   #int, 2진법 
l = 0o56    #int, 8진법
m = 0xAC    #int, 16진법

##########
def hello(x):
    return x**2

class A: # 자동차 공장
    pass

n = hello # function
o = print # bulit-in function (https://docs.python.org/3/library/functions.html)
p = lambda x:x**2 # function
q = int # type
r = A # class
s = A() # instance # 자동차
##########

print(f'type(10) : {type(a)}')
print(f'type(10.1) : {type(b)}')
print(f'type(-1) : {type(c)}')
print(f'type(True) : {type(d)}')
print(f'type(\'good\') : {type(e)}')
print(f'type(\'good\'.upper) : {type(e.upper)}')
print(f'\'10\' + \'10\' : {f + f}')
print(f'\'10\' * 3 : {f * 3}')
print(f'\'hong\' + \'gildong\' : {g + h}')
print(f'type(\'gildong\') : {type(h)}')
print(f'type(\'gildong100!!\') : {type(i)}')
print(f'type(10 + 2j) : {type(j)}')
print(f'type(0b110) : {type(k)}')
print(k)
print(f'type(0o56) : {type(i)}')
print(i)
print(f'type(0xAC) : {type(m)}')
print(m)
print(f'type(def func():...생략...) : {type(n)}')
print(f'type(print) : {type(o)}')
print(f'type(lambda x:x**2) : {type(p)}')
print(f'type(int) : {type(int)}')

type(10) : <class 'int'>
type(10.1) : <class 'float'>
type(-1) : <class 'int'>
type(True) : <class 'bool'>
type('good') : <class 'str'>
type('good'.upper) : <class 'builtin_function_or_method'>
'10' + '10' : 1010
'10' * 3 : 101010
'hong' + 'gildong' : kimhonggildong
type('gildong') : <class 'str'>
type('gildong100!!') : <class 'str'>
type(10 + 2j) : <class 'complex'>
type(0b110) : <class 'int'>
6
type(0o56) : <class 'str'>
example
type(0xAC) : <class 'int'>
172
type(def func():...생략...) : <class 'function'>
type(print) : <class 'builtin_function_or_method'>
type(lambda x:x**2) : <class 'function'>
type(int) : <class 'type'>

In [ ]:
# 이스케이프 문자
# https://ko.wikipedia.org/wiki/%EC%9D%B4%EC%8A%A4%EC%BC%80%EC%9D%B4%ED%94%84_%EB%AC%B8%EC%9E%90
print('hello \n world')
print('hello \t world')
print('hello \' world')
print('hello \" world')
print('hello \\ world')

hello
 world
hello 	 world
hello ' world
hello " world
hello \ world

In [ ]:
# type -> string

hello = 10

print(r'hello \n world') # str -> raw (Django 2.x까지 url parsing을 이렇게 사용하고 있어요.)
print(f'hello \n world {hello}') # 앞으로 f-string 기법
print('hello world {}'.format(hello))

hello \n world
hello
 world 10

In [ ]:
# type -> float
# 오일러의 수를 모른다 해서, 수학 연산이 약하다 해서 우리 수업에 문제가 되지 않습니다.
print(2.3e3) # 무리수, 오일러 수(2.718에 수렴, 파이가 3.14인 것처럼)
print(2.3E3)

2.3 * (10 ** 3)

In [ ]:
print(2.3e-3) # 무리수, 오일러 수(2.718에 수렴, 파이가 3.14인 것처럼)
print(2.3E-3)

2.3 * (10 ** -3)

0.0023
0.0023

0.0023

In [ ]:
type(2.3E-3)

float

In [ ]:
class A: # 자동차 공장
    pass

a = A # class
b = A() # instance # 자동차

print(type(a))
print(type(b))

<class 'type'>
<class '__main__.A'>

In [ ]:
# 변수를 처음 만나시면 type, dir을 해봅니다.
# type을 찍으면 검색 키워드를 알 수 있습니다.
# dir을 찍으면 속성을 알 수 있습니다.
type(a)

int

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
# 실무에서 자주 사용하는 구문
type(10)
type(10) == int
type(10.1) == float

True

In [ ]:
# 위만큼 자주사용하진 않지만 타입 확인 코드
a = 10
isinstance(a, int)
isinstance(a, float)

False

## 변수

In [ ]:
# CS 변수는 포스트잇
# 변수는 메모리 공간을 가리킵니다.

# x라는 포스트잇도 붙였지만
# y라는 포스트잇도 붙여져 있는 것입니다.
x = 10
y = 10

id(x), id(y) # id는 누굴 가리키고 있는지 그 주소값을 반환합니다.

(139737727205904, 139737727205904)

In [ ]:
x is y

True

In [ ]:
x = 257
y = 257

id(x), id(y)

(139736413794128, 139736413797264)

In [ ]:
x is y

False

In [ ]:
# Python은 자체적으로 속도를 높이기 위한 
# 여러가지 노력들을 해왔습니다.
# (아래 언급한 것 말고도 각각의 자료형에서 메모리를 효율적으로 관리하기 위한 노력들을 말씀드리겠습니다.)
# 구버전도 말씀을 드릴 것인데 이유는 여러분이 실무에가서 접할 환경이 최신 버전이 아니기 때문입니다.
# 야xx의 경우에는 Django 1.x, python 2.x를 사용하고 있어요. 
# 대부분의 기업들이 한 번 구축해놓은 시스템은 바꾸기가 쉽지 않습니다.

# 그래서 -5 ~ 256은 먼저 메모리에 적재를 합니다.

In [ ]:
x = -5
y = -5

id(x), id(y)

(139737727205424, 139737727205424)

* 변수의 타입이란 무엇인가?
* 변수의 타입은 왜 있는 것일까?
* 어떤 고민을 통해 변수의 속성을 정했을까?

In [ ]:
'a' + 'a'

'aa'

In [ ]:
# 왜 이어 붙였지?
# 컴퓨터 입장에서 a는 97(인간이 보는 숫자) -> 0x61! 결국 숫자!

In [ ]:
# cpython -> 이어 붙이라고 정의가 되어 있어서
# 사회 통념적인 약속 -> 코드로 구현
# type, dir
# 이러한 약속들은 메직메서드(__init__.....)를 통해 구현하게 됩니다.

## 변수의 속성 변경

In [ ]:
'10' + '10'

'1010'

In [ ]:
int('10') + int('10')

20

In [ ]:
# 지금 배우는 포인트는 class가 중요한 문법이 아니라
# 이러한 '약속'을 우리가 변경할 수 있다가 중요한 포인트입니다.
class int(int):
    def __add__(self, a):
        return 'leehojun'

int('10') + int('10')

'leehojun'

In [ ]:
class int(int):
    def __add__(self, a):
        return self * a

int('10') + int('10')

100

In [ ]:
dir(10)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
class int(int):
    def 제곱(self, 승수):
        return self ** 승수

value = int('10')
print(dir(value))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes', '제곱']

In [ ]:
value.제곱(3)

1000

In [ ]:
x = 10
y = x
z = y

print(id(x), id(y), id(z))

139737727205904 139737727205904 139737727205904

In [ ]:
x = 10
y = x
x = 100

print(x, y)
print(id(x), id(y), id(z))

100 10
139737727208784 139737727205904 139737727205904

## 변수의 속성

* 변수는 주로 스네이크 표기법을 많이 사용합니다. 물론 회사 컨벤션에 따르셔야 합니다.
* 영문과 숫자를 사용할 수 있지만, 숫자로  시작하지는 못합니다.
* 특수문자는 사용하지 않아요.(언더바(_)는  사용합니다. 스네이크 표기법, 특수문자나  이미중 사용 가능한 것들이 있기는 합니다.  권하지 않습니다.)
* 예약어는 사용하지 않습니다.(if, elif, while, * for, etc)
* 대소문자는 구분합니다.
* 언더바로만 사용하거나 언더바로 시작할 수 있습니다.
* 대문자로 시작하는 변수를 사용할 수 있지만, 관습적으로 대문자로 시작하는 변수는 Class로 만들기 때문에 소문자로 시작하는 변수를 만들기를 권합니다. Class는 보통 파스칼 표기법을 따릅니다. 다만 회사 컨벤션마다 다릅니다.

In [ ]:
# 스네이크 표기법(Python에서 주로)
hello_world = 10
# 카멜 표기법(JavaScript에서 주로)
helloWorldHello = 10
# 파스칼 표기법(Class 같은 곳에서 많이 사용합니다.)
Hello = 10

In [ ]:
# 10hello = 100
hello10 = 10

π = 3.14 # 권하지 않습니다.
print(π)

_ = 100 # 언더바는 자주사용되는데 이렇게 사용되진 않습니다.
print(_)

3.14
100

In [ ]:
for _ in range(10): # 언더바를 순회 안에서 변수로 사용하지 않을때
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
# if = 100
# print = 100

In [ ]:
# print('hello')

In [ ]:
print(a)

## 입력과 출력

In [ ]:
x = input()
x

10

'10'

In [ ]:
x + x # 사용자에게 받은 입력은 str

'1010'

In [ ]:
print(10, 10, 10)

10 10 10

In [ ]:
print('hello', 'world', 'hello')

hello world hello

In [ ]:
print(x, x)

10 10

In [ ]:
print('hello world', end='!')
print('hello world', end='!')
print('hello world', end='!')

hello world!hello world!hello world!

In [ ]:
print('hello', 'world', sep='!')
print('010', '5044', '2903', sep='-')

hello!world
010-5044-2903

In [ ]:
이름 = '이호준'
나이 = 10

print('1. 제 이름은 이호준입니다. 제 나이는 10입니다.')
print('2. 제 이름은 ', 이름, '입니다. 제 나이는 ', 나이, '입니다.', sep='')
print('3. 제 이름은 %s입니다. 제 나이는 %d입니다.'%(이름, 나이))
print('4. 제 이름은 {}입니다. 제 나이는 {}입니다.'.format(이름, 나이))
print(f'4. 제 이름은 {이름}입니다. 제 나이는 {나이}입니다.')

1. 제 이름은 이호준입니다. 제 나이는 10입니다.
2. 제 이름은 이호준입니다. 제 나이는 10입니다.
3. 제 이름은 이호준입니다. 제 나이는 10입니다.
4. 제 이름은 이호준입니다. 제 나이는 10입니다.
4. 제 이름은 이호준입니다. 제 나이는 10입니다.

[포멧코드](https://www.notion.so/paullabworkspace/9fd33417740f4eba8715f5c4a1ed7c7b?v=e01ecdfe2f9448dcaad68b03a38057a5)

## formatting

In [ ]:
print(f'{100 * 10}')

1000

In [ ]:
# 중괄호 안에서 복잡한 연산을 하시는 것을 권하지 않습니다.
result = 100 * 10
print(f'{result}')

In [ ]:
# 이런 문법은 필요에 의해 검색해 보시다 보면 익숙해집니다.
print(f'{"hello":<10}')
print(f'{"hello":>10}')
print(f'{"hello":^10}')

hello
     hello
  hello

In [ ]:
txt = 'hello'
i = 10
print(f'{txt:>10}')
print(f'{txt:>{i}}')

     hello
     hello

In [ ]:
# 이런 문법은 필요에 의해 검색해 보시다 보면 익숙해집니다.
print(f'{"hello":!<10}')
print(f'{"hello":!>10}')
print(f'{"hello":!^10}')

hello!!!!!
!!!!!hello
!!hello!!!

In [ ]:
# 이런 문법은 필요에 의해 검색해 보시다 보면 익숙해집니다.
print(f'{"hello":=<10}')
print(f'{"hello":=>10}')
print(f'{"hello":=^10}')

hello=====
=====hello
==hello===

In [ ]:
# 둘 다 잊으셔도 됩니다.
# 어디에 활용되는지 궁금하다 하신 분이 있으셔서 해드린 것입니다.
# https://tech.kakao.com/2017/09/27/kakao-blind-recruitment-round-1/
bin(9)
print(f'{bin(9)[2:]:0>5}')

01001

In [ ]:
bin(9 | 30)[2:].replace('1', '#').replace('0', ' ')

'#####'

In [ ]:
# 요정도 활용을 합니다.
print(f'{"start":-^20}')

-------start--------

In [ ]:
print(f'{0.12345:0.2f}')

0.12

* 이 아래 코드는 필수는 아닙니다. 참고삼아서만 넣어드립니다.

In [ ]:
# 이전 방식
print('나의 이름은 %s입니다'%('한사람'))
print('나의 이름은 "%s"입니다. 나이는 %d세이고 성별은 %s입니다.'%('한사람',33,'남성'))
print('나이는 %d세이고 성별은 %s입니다. 나의 이름은 %s입니다. '%(33,'남성','한사람'))
print('나이는 %03d세이고 신장은 %6.2f입니다. 나의 이름은 %s입니다. '%(33,56.789,'한사람'))
print('-' * 40)

# 파이썬(Python) 3 포맷팅 방식
print('나의 이름은 {}입니다'.format('한사람'))
print('나의 이름은 {0}입니다. 나이는 {1}세이고 성별은 {2}입니다.'.format('한사람',33,'남성'))
print('나이는 {1}세이고 성별은 {2}입니다. 나의 이름은 {0}입니다. '.format('한사람',33,'남성'))
print('나이는 {age}세이고 성별은 {gender}입니다. 나의 이름은 {name}입니다. '
         .format(name='한사람',age=33,gender='남성'))
print('만세삼창 :  {0}!!! {0}!!! {0}!!! '.format('만세'))
print('삼삼칠 박수 :  {0}!!! {0}!!! {1}!!! '.format('짝'*3,'짝'*7))
print('-' * 40)

# 파이썬(Python) 3.6 f-string 방식
something = '볼펜'
EA = 2
one_length = 5.343
scale = 'cm'

print(f'{something} {EA}개의 길이는 {one_length*EA}{scale} 입니다.')
print(f'{something} {EA}개의 길이는 {one_length*EA:.1f}{scale} 입니다.')

나의 이름은 한사람입니다
나의 이름은 "한사람"입니다. 나이는 33세이고 성별은 남성입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 한사람입니다.
나이는 033세이고 신장은  56.79입니다. 나의 이름은 한사람입니다.
----------------------------------------
나의 이름은 한사람입니다
나의 이름은 한사람입니다. 나이는 33세이고 성별은 남성입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 한사람입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 한사람입니다.
만세삼창 :  만세!!! 만세!!! 만세!!!
삼삼칠 박수 :  짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!
----------------------------------------
볼펜 2개의 길이는 10.686cm 입니다.
볼펜 2개의 길이는 10.7cm 입니다.

In [ ]:
print('Python is [{:15}]'.format('good'))
print('Python is [{:<15}]'.format('good'))
print('Python is [{:>15}]'.format('good'))
print('Python is [{:^15}]'.format('good'))
print('당신의 나이는 [{:15}]세'.format(22))
print('당신의 나이는 [{:<15}]세'.format(22))
print('당신의 나이는 [{:>15}]세'.format(22))
print('당신의 나이는 [{:<15}]세'.format(22))
print('-' * 40)

Python is [good           ]
Python is [good           ]
Python is [           good]
Python is [     good      ]
당신의 나이는 [             22]세
당신의 나이는 [22             ]세
당신의 나이는 [             22]세
당신의 나이는 [22             ]세
----------------------------------------

In [ ]:
char_a = '5'
int_a = 5

'''기본적으로 {} 포맷팅의 특성을 그대로 가짐'''
print(1234567890)
print(f'{char_a:>5}') # >는 오른쪽정렬
print(f'{char_a:<5}') # <는 왼쪽정렬
print(f'{char_a:^5}') # ^는 가운데정렬
print(f'{int_a:0<5}')# <는 왼쪽정렬, 빈자리를 0으로 채울수도 있음
print(f'{int_a:^10.2f}') # ^ 가운데 정렬하면서 float 타입지정

1234567890
    5
5
  5
50000
   5.00

## int (정수)

* 파이썬에서는 숫자를 정수, 실수, 복소수로 나눠 표현합니다.
* 2진수, 8진수, 16진수는 정수로 표현됩니다.

In [ ]:
a = 1234567899999999999999999999999999999999999999999999999999999
print(type(a))
# 2.x에서는 int와 long 두 가지가 있었는데 Python3에서는 int만 있습니다! 아무리 큰 수가 담겨도 int!

<class 'int'>

In [ ]:
a = 10**100 # 구골(googol)
print(a)
print(type(a))

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
<class 'int'>

In [ ]:
10 # 정수
-10 # 정수
10.1 # 실수

a = 10
type(a)
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
'bit_length' # bit로 바꾸었을 때 비트의 길이
'to_bytes' # 컴퓨터에 저장하는 바이트의 형태로 숫자를 표현

In [ ]:
# 1Bit, 0 ~ 1 # bit - 1자리
# 1Bytes = 8bit, 00000000 ~ 11111111 # 1byte - 8bit
# 1KB (키로바이트) = 1024Bytes
# 1MB (메가바이트) = 1024KB
# 1GB (기가바이트) = 1024MB
# 1TB (테라바이트) = 1024GB
# 1PB (페타바이트) = 1024TB

In [ ]:
(9).bit_length() # 1001

4

In [ ]:
# 컴퓨터가 숫자를 어떻게 저장하는가?
(2).to_bytes(1, byteorder='little', signed=True)
(1).to_bytes(1, byteorder='little', signed=True)
(0).to_bytes(1, byteorder='little', signed=True)
(-1).to_bytes(1, byteorder='little', signed=True)
(-2).to_bytes(1, byteorder='little', signed=True)

b'\xfe'

In [ ]:
# 컴퓨터는 음수를 자체적으로 표현할 수 없기에 2의 보수를 사용합니다. 
# 1의 보수를 사용하게 되면 +0과 -0이 존재하게 됨으로 비트 하나를 낭비하게 됩니다. 
# 따라서 2의 보수를 사용합니다.

In [ ]:
# 0000 0001 # 1
# 1111 1110 # 1의 1의 보수
# 1111 1111 # 1의 2의 보수 => ff

In [ ]:
# 진법 변환 쉽게 하는 법 : 가장 가까운 승수를 찾아 더하거나 뺍니다.
# 10진법
# 0 1 2 3 4 5 6 7 8 9 -> 10
# 1324 = 1*10^3 + 3*10^2 + 2*10^1 + 4*10^0

# 2진법
# 0 1 -> 10
# 1001 = 1*2^3 + 1*2^0 = 9

# 8진법
# 0 1 2 3 4 5 6 7 -> 10

# 16진법
# 0 1 2 3 4 5 6 7 8 9 a b c d e f -> 10

In [ ]:
# color의 표현
# 2596be
# 000000 ~ ffffff
# ff는 10진수로 무슨 숫자를 의미
# 100 - 1 => ff가 됩니다. 그래서 256 - 1

In [ ]:
a = 10
type(a)

int

In [ ]:
int('10') + int('10')

20

In [ ]:
int('10', 2) # 2진법으로 10은?

2

In [ ]:
int('10', 8) # 8진법으로 10은?

8

In [ ]:
int('10', 16) # 16진법으로 10은?

16

In [ ]:
print(0b110) # 바이너리 - 2진수
print(0o110) # 옥타 - 8진수
print(0x110) # 헥사 - 16진수

6

In [ ]:
type(0b110)

int

In [ ]:
a = 10
type(a) == int
isinstance(a, int)

True

## float (실수)

In [ ]:
a = 10.1

type(a)

float

In [ ]:
dir(a)

['__abs__',
 '__add__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__setformat__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

In [ ]:
a = 10
b = 10.1

a + b # 다른 일부 언어에서는 허용되지 않습니다.

20.1

In [ ]:
# 부동소수점 오차(2진법으로 변환했을 때 0.1이 무한대수가 발생합니다.)
0.1 + 0.2 # 대부분의 언어 공통입니다.

0.30000000000000004

In [ ]:
a = 0.1

In [ ]:
# 20번 반복해보세요.
a = a + 0.1
a

1.0999999999999999

* https://docs.python.org/ko/3/tutorial/floatingpoint.html
* https://0.30000000000000004.com/ 에서 언어별 해결책을 제시한다.
* 컴퓨터에서 부동소수점 숫자는 2진 분수로 표현되기에 무한대수가 발생한다.
* [무한수가 발생되는 원리](https://www.notion.so/paullabworkspace/5f34f21bf9a34015b170e7afd7da9593)

## 오늘 배운 것 정리
1. 단축키
    * (필수) Ctrl(Command) + Enter : 해당 셀 실행
    * (필수) Alt(Option) + Enter : 해당 셀 실행 + 코드 불록 하단 추가
    * (필수) Ctrl + / : 주석
    * (필수) Shift + Del : 한 줄 지우기
    * (필수) Tab, Ctrl + ] : 들여쓰기
    * (필수) Shift + Tab, Ctrl + [ : 내어쓰기

2. 마크다운
    ```
    # hello
    ## hello
    ### hello

    1. hello
    2. hello
    3. hello

    * hello
    * hello
    * hello
    ```

3. 주석

    ```python
    #행 단위 주석입니다.

    """
    큰 따옴표로 세번 묶거나
    작은따옴표로 세번 묶으면
    열단위 주석이 됩니다.
    """

    '''
    큰 따옴표로 세번 묶거나
    작은따옴표로 세번 묶으면
    열단위 주석이 됩니다.
    '''
    ```

4. PEP8 권고사항
    * 띄어쓰기는 4칸
    * 한 줄에 79자 이상을 사용하지 않는다.

5. 형의 종류(type, dir)
    * 컨벤션 자료형(list, tuple, dict, set)은 나중에 진행합니다.
    * int
    * float
    * bool
    * str
    * function
    * bulit-in function

6. 이스케이프 문자
    * https://ko.wikipedia.org/wiki/%EC%9D%B4%EC%8A%A4%EC%BC%80%EC%9D%B4%ED%94%84_%EB%AC%B8%EC%9E%90
    ```python
    print('hello \n world')
    print('hello \t world')
    print('hello \' world')
    print('hello \" world')
    print('hello \\ world')
    ```

7. 실무에서 자주 사용하는 타입확인 구문
    ```python
    type(10)
    type(10) == int
    type(10.1) == float

    a = 10
    isinstance(a, int)
    isinstance(a, float)
    ```

8. 변수의 인사이트
    ```
    dir을 입력했을 때
    1. __hello__와 같은 형태의 메직 메서드는 속성을 표현한다
    2.  언더바가 없는 메서드는 해당 자료형의 편의 기능을 제공한다
    ```

9. 입력과 출력
    ```python
    x = input() #입력, 숫자를 입력해도 str
    print(x) #출력

    이름 = '이호준'
    나이 = 10
    print(f'제 이름은 {이름}입니다. 제 나이는 {나이}입니다.')
    print(f'{100 * 10}')
    ```


10. int 형
    * 2진수, 8진수, 16진수는 정수


11. float 형
    * 부동소수점 오차(2진법으로 변환했을 때 0.1이 무한대수가 발생합니다.)
    0.1 + 0.2 # 대부분의 언어 공통입니다.
    * https://docs.python.org/ko/3/tutorial/floatingpoint.html
    * https://0.30000000000000004.com/ 에서 언어별 해결책을 제시한다.

## str (문자열)

- 순서가 있는 **시퀀스 자료형**입니다.
- 작은 따옴표(' ')나 큰 따옴표(" "), 삼중따옴표('''str''', """str""")로 감싸는 것도 가능합니다. (삼중따옴표를 사용할 경우에는 줄단위의 문자열을 나타낼 수 있습니다.)
- 작은 따옴표 안에 큰 따옴표, 큰 따옴표 안에 작은 따옴표 사용이 가능합니다.
- 이스케이프 문자도 사용이 가능합니다.
- 리스트, 튜플도 시퀀스 자료형입니다.

In [ ]:
s = 'paullab CEO leehojun'
s[0] # 0은 index입니다. 이렇게 호출하는 것을 indexing이라고 합니다.

'p'

In [ ]:
type(s)

str

In [ ]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# 문자열의 메서드
# 'capitalize','casefold','center','count','encode',
# 'endswith','expandtabs','find','format','format_map',
# 'index','isalnum','isalpha','isascii','isdecimal','isdigit',
# 'isidentifier','islower','isnumeric','isprintable','isspace',
# 'istitle','isupper','join','ljust','lower','lstrip',
# 'maketrans','partition','removeprefix','removesuffix',
# 'replace','rfind','rindex','rjust','rpartition','rsplit',
# 'rstrip','split','splitlines','startswith','strip','swapcase',
# 'title','translate','upper','zfill'

In [ ]:
s = 'paullab CEO leehojun'
s.lower(), s.upper() 
# 특히 사용자에게 입력을 받는 경우 lower도 많이 사용합니다.

('paullab ceo leehojun', 'PAULLAB CEO LEEHOJUN')

In [ ]:
s = 'paullab CEO leehojun'
s.find('C'), s.index('C')

(8, 8)

In [ ]:
# 견고한 코드란?
# 시간이 지나도 그대로 사용할 수 있고
# error가 예측 가능하게 나는 코드
# 네이버에 이미지 슬라이딩 코드
# bool(s.find('Z')) => -1은 True이기 때문에 주의가 필요합니다.
s.find('Z')

-1

In [ ]:
# Error가 나면 Error를 주는 것이 좋을 수 있습니다.
# Error를 안주는 언어로 JavaScript
s.index('Z')

ValueError: ignored

In [ ]:
s = 'paullab CEO leehojun'
s.find('CEO')

8

In [ ]:
# 별 5개
s = 'paullab CEO leehojun'
s.count('l')

3

In [ ]:
str([1, 2, 3, 4, 5])

'[1, 2, 3, 4, 5]'

In [ ]:
str([1, 2, 3, 4, 5]).count(' ')

4

In [ ]:
str([1, 2, 3, 4, 5]).count(',')

4

In [ ]:
str([1, 2, 11, 4, 111]).count('1')

6

In [ ]:
str(list(range(0, 10001))).count('8')

4000

* https://codingdojang.com/scode/393?answer_mode=hide

In [ ]:
str([1,2,3,4,5]).count(' ') 
# list는 콤마 다음에 공백이 없더라도 공백으로 인식해줍니다.

4

In [ ]:
str([1,
     2,
     3,
     4,
     5]).count(' ')
# list는 콤마 다음에 공백이 없더라도 공백으로 인식해줍니다.

4

In [ ]:
'hello'.count('')

6

In [ ]:
'a'.count('')

2

In [ ]:
''.count('')

1

In [ ]:
'' + ''

''

In [ ]:
'   hello   !  '.strip() # 공백제거 메서드

'hello   !'

In [ ]:
'   hello   !  '.rstrip()

'   hello   !'

In [ ]:
'   hello   !  '.lstrip()

'hello   !  '

In [ ]:
# 별 5개
'hello world hi'.replace(' ', '!')
'hello world hi'.replace('world', 'W@O@R@L@D').upper()

'HELLO W@O@R@L@D HI'

In [ ]:
'hello world hi'.replace('world', 'W@O@R@L@D').upper().split('@')
# 반환값이 list이기 때문에 메서드 체이닝을 하려면 
# 이후로 list 메서드를 사용해야 합니다.

['HELLO W', 'O', 'R', 'L', 'D HI']

In [ ]:
'hello world hi'.replace(' ', '')

'helloworldhi'

In [ ]:
data = '''  "+ +-+ -+-"  
  "++ -- +-+"  
  "++-+ -+ -"  
  "+ ++-+ -+"  '''

data.split('\n')[0].replace(' ', '').replace('"', '')

# Pythonic하지 않다!
data.split('\n')[0].replace(' ', 
                '').replace('"', 
                '')

# Pythonic하게 하려면
data.split('\n')[0]\
                .replace(' ', '')\
                .replace('"', '')\
                .replace('"', '')\
                .replace('"', '')\
                .replace('"', '')\
                .replace('"', '')\
                .replace('"', '')\
                .replace('"', '')

# 제가 사용하는 기법
processed_string = data.split('\n')[0].replace(' ', '').replace('"', '')
processed_string.replace('"', '').replace('"', '')

'++-+-+-'

In [ ]:
# aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa 79자
# 아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아 39자

In [ ]:
data = '''  "+ +-+ -+-"  
  "++ -- +-+"  
  "++-+ -+ -"  
  "+ ++-+ -+"  '''

data.split('\n')[0].replace(' ', '').replace('"', '').replace('+', '1').replace('-', '0')
ord('A'), chr(65) # ord는 문자를 가지고 숫자로 변경 chr은 숫자를 가지고 문자로 변경합니다.

숫자 = data.split('\n')[0].replace(' ', '').replace('"', '').replace('+', '1').replace('-', '0')
int(숫자, 2)
chr(int(숫자, 2))

'j'

In [ ]:
# 별 4.5개
'paullab CEO leehojun'.split(' ') #문자열을 쪼개어 줍니다.
'paullab!CEO!leehojun'.split('!')
'paullab,CEO,leehojun'.split(',')

['paullab', 'CEO', 'leehojun']

In [ ]:
# 퀴즈
'010 5044 2903' # 1번
'010-5044-2903' # 2번
'010 5044-2903' # 3번

In [ ]:
# 원하는 결과값
# ['010', '5044', '2903']
# [10, 5044, 2903] # 010은 error가 나기 때문에 10으로 저장

[10, 5044, 2903]

In [ ]:
'010 5044 2903'.split(' ')
'010-5044-2903'.split('-')
'010 5044-2903'.replace(' ', '-').split('-')

['010', '5044', '2903']

In [ ]:
'010 5044 2903'.split() # 공백단위가 들어가기 됩니다.

['010', '5044', '2903']

In [ ]:
# '01050442903'.split('') # 빈 문자열을 넣지는 못합니다.

In [ ]:
list(map(int,'010 5044 2903'.split(' ')))

In [ ]:
int('010')

10

In [ ]:
# print(010) # error

In [ ]:
num ='010 5044-2903'.replace('-',' ').split(' ')
[int(i) for i in num] # 리스트 컴프리헨션 사용
list(map(int, '010 5044 2903'.split(' ')))

# 2개 모두 새로운 리스트를 만드는 것입니다.
# 원본을 변경시키지 않습니다.

[10, 5044, 2903]

In [ ]:
# 이 코드 보다는
s = []
for i in '010 5044-2903'.replace('-',' ').split(' '):
    s.append(int(i))
s

# 요 코드를 추천합니다.
[int(i) for i in num]

[10, 5044, 2903]

In [ ]:
# 지금 진도에서 과하기 때문에 
# 지금은 잊으셔도 됩니다.
# 뒤에서 상세하게 다룹니다.
def 제곱함수(x):
    return x ** 2

def 정수함수(x):
    return int(x)

list(map(제곱함수, [1, 2, 3]))
list(map(정수함수, ['1', '2', '3']))
list(map(int, ['1', '2', '3']))

list(map(int, ['010', '5044', '2903']))
list(map(int,'010 5044 2903'.split(' ')))

[10, 5044, 2903]

In [ ]:
# 별 4.5 개
'~'.join(['hello', 'world', 'hello'])
'!'.join(['hello', 'world', 'hello'])
''.join(['hello', 'world', 'hello'])
' '.join(['hello', 'world', 'hello'])

'hello world hello'

In [ ]:
'hello'.isalpha()

True

In [ ]:
'he llo'.isalpha()

False

In [ ]:
'123'.isdigit()

True

In [ ]:
'12a3'.isdigit(), '12 3'.isdigit()

False

In [ ]:
'12a3'.isalnum(), '12 3'.isalnum()

(True, False)

In [ ]:
'안녕하세요!'.isalpha(), '안녕하세요!'.isalnum()

(False, False)

In [ ]:
# 퀴즈
# 숫자를 모두 더하라!
result = 0
for i in '123abc913sldlf':
    # print(i.isdigit())
    if i.isdigit():
        result += int(i) # result = result + int(i)
result

19

In [ ]:
result = 0
for i in '123abc913sldlf':
    if i.isdigit():
        result += int(i)
result

In [ ]:
'paullab CEO leehojun'.isascii()

True

In [ ]:
'paullab CEO leehojun'.rjust(30) #오른쪽 정렬
'paullab CEO leehojun'.ljust(30) #왼쪽 정렬
'paullab CEO leehojun'.center(30)#가운데 정렬

'     paullab CEO leehojun     '

In [ ]:
'hello'.zfill(20) # 데이터의 빈 공간을 0으로 채워줍니다.

'000000000000000hello'

In [ ]:
'1001'.zfill(5)
'hello'.zfill(10).replace('0', '-')

'-----hello'

In [ ]:
규칙테이블 = str.maketrans({'\n':'', '\t':''})
'paullab \n\n\n CEO \t\t\t leehojun'.translate(규칙테이블)

'paullab  CEO  leehojun'

In [ ]:
'paullab \n\n\n CEO \t\t\t leehojun'.replace('\n', '').replace('\t', '')

'paullab  CEO  leehojun'

In [ ]:
규칙테이블 = str.maketrans('\n\t', '  ') # 똑같은 길이를 가지고 있어야 함
'paullab \n\n\n CEO \t\t\t leehojun'.translate(규칙테이블)

'paullab     CEO     leehojun'

In [ ]:
규칙테이블 = str.maketrans('le','12')
'paullab CEO leehojun'.translate(규칙테이블) #어떤 규칙을 정하는것

'pau11ab CEO 122hojun'

## pep

In [ ]:
# aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa => 80자
# 아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아 => 40자면 한글 넘어갑니다.
# line에 딱 맞춰 들어간 것을 볼 수 있습니다. 
# 강제사항은 아닙니다.
# 띄어쓰기 4번도 강제사항은 아닙니다.
# pep8, pep20에 기술되어 있습니다. => pep(Python Enhancement Proposal)란 무엇인가요? 8이란 무엇인가요?
# pep8 : Style Guide for Python Code (https://peps.python.org/pep-0008/)
# pep20 : The Zen of Python(https://peps.python.org/pep-0020/) #이스터애그로 숨겨져 있습니다.
# https://peps.python.org/

## cpython

* 공식홈페이지에서 다운로드 받는 것이 cpython입니다.
* https://github.com/python/cpython
* list를 구현한 코드 : https://github.com/python/cpython/blob/main/Objects/listobject.c

## 인덱싱과 슬라이싱

In [ ]:
name = 'Guido van Rossum'
print(name[0])
print(name[1])
print(name[2])

G
u
i

In [ ]:
# s[start:stop:step]
s = 'paullab CEO leehojun'
s[5:]
s[:5]
s[3:10]
s[:]
s[0:20:2]

'pulbCOleou'

In [ ]:
# 자주 사용되는 코드
s = 'paullab CEO leehojun!'
s[:] # string에서는 많이 사용하지 않지만 list에서 많이 사용합니다.
s[:-1] # 마지막 요소만 제외하고 다 슬라이싱 합니다.

'paullab CEO leehojun'

In [ ]:
test = [1, 2, 3, 4]
test2 = test
test2[0] = 1000
test, test2

([1000, 2, 3, 4], [1000, 2, 3, 4])

In [ ]:
test = [1, 2, 3, 4]
test2 = test[:] # 새로운 리스트를 만들어서 test2에게 줍니다.
test2[0] = 1000
test, test2

([1, 2, 3, 4], [1000, 2, 3, 4])

## 문자열의 연산

In [ ]:
s = 'hello world'
dir(s)
s + s
s * 3

'hello worldhello worldhello world'

## 형변환

* 형변환 : type을 변경하는 것입니다.

In [ ]:
x = int(input())
x + x # but 알파벳 입력하면 error!

In [ ]:
x = input()
if x.isdigit():
    x = int(x) # but 알파벳 입력하면 error!
x + x

10

20

In [ ]:
# int('abc') # error
int(10.1) # 버림
int('10') # 형변환 가능
# int('10.1') # 형변환 불가능

In [ ]:
float('10') # 형변환 가능
float('10.1') # 형변환 가능

10.1

In [ ]:
int('10a') # 되는 언어가 있어서 보여드린 것입니다.
# Python에서는 허용하지 않습니다.

In [ ]:
def hello():
    pass

str(type)
str(hello)

str('123')
str(True)
str(None)
str([1, 2, 3])
str({1, 2, 3})
str({'one':1, 'two':2})

"{'one': 1, 'two': 2}"

In [ ]:
# 별 5개
# bool 형으로 형변환 하는 것
if True:
    print('hi')

if 'hello':
    print('hi')

# 정말 많이 사용하는 코드
l = [1, 2, 3]
while l:
    print(l.pop())

bool('') # 빈 문자열을 제외하고 모두 True
bool('a')
bool('False') # 문자열 False이기 때문에 True
bool(0) # 0을 제외하고 모두 True
bool(-1)
bool(100)
bool(None) # None은 비어있음을 명시해주는 키워드, False
bool([]) # 컨벤션 자료형은 비어있으면 False입니다.
bool({})

hi
hi

False

In [ ]:
# list로 형변환
s = '10'
l = list(s)
l

['1', '0']

In [ ]:
s = 'leehojun'
l = list(s)
l

['l', 'e', 'e', 'h', 'o', 'j', 'u', 'n']

In [ ]:
# tuple로 형변환
s = 'leehojun'
l = tuple(s)
l

('l', 'e', 'e', 'h', 'o', 'j', 'u', 'n')

In [ ]:
# dict
# name = 'leehojun' # error
# dict(name)

s = [('name','leehojun'), ('age',10)]
d = dict(s)
d

{'name': 'leehojun', 'age': 10}

In [ ]:
# set(집합)으로 형변환
name = 'leehojun'
set(name)

{'e', 'h', 'j', 'l', 'n', 'o', 'u'}

In [ ]:
len('hello world') # __len__
len([1, 2, 3, 4])

4

In [ ]:
class str(str):
    def __len__(self):
        return 'hi'

str('hello')
len('hello')

5

In [ ]:
input()*2

123

'123123'

In [ ]:
num = 1234567890
list(str(num))[3]

'4'

##산술연산

In [ ]:
a = 10
b = 3

print('a + b = ', a + b)
print('a - b = ', a - b)
print('a * b = ', a * b)
print('a ** b = ', a ** b) #제곱
print('a / b = ', a / b)
print('a // b = ', a // b) #몫
print('a % b = ', a % b) #나머지

a + b =  13
a - b =  7
a * b =  30
a ** b =  1000
a / b =  3.3333333333333335
a // b =  3
a % b =  1

In [ ]:
#비교연산
a = 10
b = 3

print('a > b = ', a > b)
print('a >= b = ', a >= b)
print('a < b = ', a < b)
print('a <= b = ', a <= b)
print('a == b = ', a == b)
print('a != b = ', a != b)

a > b =  True
a >= b =  True
a < b =  False
a <= b =  False
a == b =  False
a != b =  True

In [ ]:
#논리연산
#and 는 곱
#or 는 합
#not 은 반대
#True 1
#False 0
# 중요한 포인트는 저렇게 했을 때 언제 True가 되는지 정리하는 것

print(True and False)
print(True or False)
print(True or True)

if True and False:
    print('hello')

if 10 > 3 and 8 % 3 == 0:
    print('hello')

# and는 언제 True가 되나요?
# 모두 True일 때만 True
# or는 언제 True가 되나요?
# 둘 중에 하나라도 참이라면 True

False

In [ ]:
# https://codingdojang.com/scode/350?answer_mode=hide

sum([i if i % 3 == 0 or i % 5 == 0 else 0 for i in range(1,1000+1)])

234168

## 비트연산 (중요도 하)

In [ ]:
# and 
# 1001 == 9
# 0010 == 2
# ----
# 0000 == 0

In [ ]:
9 & 8

# and 
# 1001 == 9
# 1000 == 8
# ----
# 1000 == 8

8

In [ ]:
# or(더하기, 대신 자리올림이 되진 않습니다.)
# 1001 == 9
# 0011 == 3
# ----
# 1011

9 | 3

11

In [ ]:
# xor(같을 경우 0, 다를경우 1)
# 1001 == 9
# 0011 == 3
# ----
# 1010
9 ^ 3

10

In [ ]:
~9 # 2보수를 취하는 것입니다.(9에게 +1한 다음에 -를 취하시면 됩니다.)
~-7 # 2보수를 취하는 것입니다.(7에게 +1한 다음에 -를 취하시면 됩니다.)

6

In [ ]:
3 << 2 
# 3을 2진수로 표현하면 11인데 2칸을 왼쪽으로 미는 것입니다.
# 1100

12

In [ ]:
7 >> 2

1

## 할당연산

In [ ]:
# a = 10
# a = a + 10
a = + 10 # 이렇게 a를 지우면 양수를 표현하는 10만 남아요.
a

10

In [ ]:
a = 10
a += 10 # a = a + 10
a

20

In [ ]:
a = 10
a //= 10 # 산술연산 모두 됩니다.
a

In [ ]:
# Python에서 특이하게 ++a, ++b, a++, b++가 없습니다.

## 식별연산자

In [ ]:
# 앞으로 아래 2개를 활용해서 Python에 
# 컨벤션 자료형이 어떻게 구성이되는지 확인해볼겁니다.
# id()
# is

In [ ]:
a = 256
b = 256
a is b

True

In [ ]:
a = 999
b = 999
a is b

False

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

False

In [ ]:
a[0] = 100
a, b

([100, 2, 3], [1, 2, 3])

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
a == b # Python에 등호는 type과 value를 봅니다.

True

In [ ]:
# is는 주소값을 비교합니다.
id(a) == id(b) # 이게 False면 is도 False입니다.

False

## not의 위치

In [ ]:
a = 10
b = 100
a is not b
# a not is b # error

In [ ]:
a = 10
b = [10, 20, 30]
a not in b

False

##멤버연산

In [ ]:
'a' in 'hello world'
'a' not in 'hello world'
'a' in '[a,b]'
'a' in ['a','b']
10 in {'a':10,'b':20}.values()
10 in {10,20,30}

True

In [ ]:
#연습문제1
a = 100
(a > 100) and (a < 200) #False
(a > 100) or (a < 200) #True
(a >= 100) and (a <= 200) #True
(a >= 100) or (a <= 200) #True

True

In [ ]:
b = 25
(b % 2 == 0) and (b % 5 == 0) # False

False

In [ ]:
c = 1000
c // 100
# 결과값은 10입니다.

10

In [ ]:
money,wallet = int(input()),[]
for i in [5000,1000,500,100]:
    c = money // i
    money %= i
    wallet += [i]*c
print(money,{i:wallet.count(i) for i in set(wallet)})

12600
0 {5000: 2, 1000: 2, 500: 1, 100: 1}

## 연습문제

In [ ]:
#1번
a = 100
print((a > 100) and (a < 200))
print((a > 100) or (a < 200))
print((a >= 100) and (a <= 200))
print((a >= 100) or (a <= 200))

False
True
True
True

In [ ]:
#2번
b = 25
(b % 2 == 0) and (b % 5 == 0)

In [ ]:
#3번
c = 1000
c / 100
c // 100

10

In [ ]:
#4번
# 그리디 알고리즘(욕심쟁이 알고리즘)
남은금액 = int(input())

오천원 = 남은금액 // 5000
# 남은금액 = 남은금액 % 5000
남은금액 = 남은금액 - (5000 * 오천원)

천원 = 남은금액 // 1000
남은금액 = 남은금액 % 1000

오백원 = 남은금액 // 500
남은금액 = 남은금액 % 500

백원 = 남은금액 // 100
남은금액 = 남은금액 % 100

print(오천원, 천원, 오백원, 백원)

8800
1 3 1 3

## !! 오늘 배운 것 정리

1. str
    - 순서가 있는 **시퀀스 자료형**입니다.
    - 작은 따옴표(' ')나 큰 따옴표(" "), 삼중따옴표('''str''', """str""")로 감싸는 것도 가능합니다. (삼중따옴표를 사용할 경우에는 줄단위의 문자열을 나타낼 수 있습니다.)
    - 작은 따옴표 안에 큰 따옴표, 큰 따옴표 안에 작은 따옴표 사용이 가능합니다.
    - 이스케이프 문자도 사용이 가능합니다.
    - 리스트, 튜플도 시퀀스 자료형입니다.
    - 메서드
        - lower
        - index, find
        - count
        - strip
        - replace
        - split, join
        - isdigit
2. 슬라이싱
    - 시퀀스형 자료형을 자를 수 있습니다.
    - 형태
    ```
    # s[start:stop:step]
    s = 'paullab CEO leehojun'
    s[5:]
    s[:5]
    s[3:10]
    s[:]
    s[0:20:2]
    # 자주 사용되는 코드
    s = 'paullab CEO leehojun!'
    s[:] # string에서는 많이 사용하지 않지만 list에서 많이 사용합니다.
    s[:-1] # 마지막 요소만 제외하고 다 슬라이싱 합니다.
    ```

3. 형변환
    - 형변환 : type을 변경하는 것입니다.
    - int, float, str 등 자료형에 이름으로 형태를 변경할 수 있습니다.
    - 그 중에서도 bool이 매우 중요합니다.
    ```
    # 별 5개
    # bool 형으로 형변환 하는 것
    if True:
        print('hi')

    if 'hello':
        print('hi')

    # 정말 많이 사용하는 코드
    l = [1, 2, 3]
    while l:
        print(l.pop())

    bool('') # 빈 문자열을 제외하고 모두 True
    bool('a')
    bool('False') # 문자열 False이기 때문에 True
    bool(0) # 0을 제외하고 모두 True
    bool(-1)
    bool(100)
    bool(None) # None은 비어있음을 명시해주는 키워드, False
    bool([]) # 컨벤션 자료형은 비어있으면 False입니다.
    bool({})
    ```

4. 산술연산
    ```
    a = 10
    b = 3

    print(f'10 + 3 == {a + b}')
    print(f'10 - 3 == {a - b}')
    print(f'10 / 3 == {a / b}')
    print(f'10 // 3 == {a // b}') # 몫만 나옵니다.(정수만요!)
    print(f'10 * 3 == {a * b}')
    print(f'10 ** 3 == {a ** b}')
    print(f'10 % 3 == {a % b}') # 나머지
    ```

5. 논리연산
    ```
    # and 는 곱
    # or 는 합
    # not은 반대
    # True 1
    # False 0
    # 중요한 포인트는 저렇게 했을 때 언제 True가 되는지 정리하는 것

    print(True and False)
    print(True or False)
    print(True or True)

    # https://codingdojang.com/scode/350?answer_mode=hide
    for i in range(101):
        if i % 3 == 0 and i % 5 == 0:
            print(i)
    ```

6. 할당연산
    ```
    a = 10
    a += 10 # a = a + 10
    a //= 2
    a
    ```

7. is, in
    1. is
        ```
        a = [1, 2, 3]
        b = [1, 2, 3]

        id(a), id(b)
        a == b # 값이 같은 것과 메모리에 같은 공간에 저장되어 있다는 얘기는 다른 얘기입니다!
        ```
    2. in
        ```
        'a' in 'helalo world'
        'a' in 'hello world'
        'a' in ['a', 'b']
        'a' in {'a':10, 'b':20}
        # 10 in {'a':10, 'b':20} # dict안에있는 value값이 있는지 확인하고 싶으면
        10 in {'a':10, 'b':20}.values()
        10 in {10, 20, 30}
        ```

## 함수

1. 코드 덩어리(정말 쉽게 설명하자면..)
2. 코드를 재사용 할 수 있으며, 실수를 줄일 수 있습니다.
3. 코드의 구조를 한 눈에 파악할 수 있습니다.

In [ ]:
def 부지매입():
    pass

def 설계도면작성():
    pass

def 인력모집():
    pass

def 벽돌쌓기():
    pass

def 지붕올리기():
    pass

# 건축 또는 집짓기?
# 신입사원이 왔을 때
# 3년에 한 번 이직
# 7년에 한 번 이직
# 오래 있으신 분들
부지매입()
설계도면작성()
인력모집()
벽돌쌓기() # 10만줄
벽돌쌓기() # 10만줄
벽돌쌓기() # 10만줄
지붕올리기()

In [ ]:
# 파선아실(파라미터는 선언할 때, 아규먼트는 실제)
def function(x, y):
    z = x + y
    return z
print(f'function(5, 7) = {function(5, 7)}')

In [ ]:
# 같은 코드 1
def function(x, y):
    z = x + y
print(f'function(5, 7) = {function(5, 7)}')

function(5, 7) = None

In [ ]:
# 같은 코드 2
def function(x, y):
    z = x + y
    return None
print(f'function(5, 7) = {function(5, 7)}')

function(5, 7) = None

In [ ]:
# 같은 코드 3
def function(x, y):
    z = x + y
    return
print(f'function(5, 7) = {function(5, 7)}')

function(5, 7) = None

In [ ]:
def hello():
    print('1')
    print('2')
    print('3')

print(hello())

In [ ]:
# 함수 연습문제 1
def one():
    print('one1')
    print('one2')
    print('one3')
    return 100

def two():
    print('two1')
    print('two2')
    one()
    return

print(two())

two1
two2
one1
one2
one3
None

In [ ]:
# 함수 연습문제 2
def one():
    print('one1')
    print('one2')
    print('one3')
    return 100

def two():
    print('two1')
    print('two2')
    x = one()
    return x + x

print(two())

two1
two2
one1
one2
one3
200

In [ ]:
# 함수 연습문제 3
def one(a, b):
    print('one1')
    print('one2')
    print('one3')
    return a + b

def two(x):
    y = 100
    print('two1')
    print('two2')
    x = one(x, y)
    return x + x

print(two(10))

two1
two2
one1
one2
one3
220

In [ ]:
# 함수 연습문제 3
def one(a, b):
    print('one1')
    print('one2')
    print('one3')
    return a + b

def two(x):
    y = 100
    print('two1')
    print('two2')
    x = one(x, y)
    return x + x

print(two(10))

In [ ]:
# 함수 연습문제 4
def one():
    print('one')
    return 10

def two():
    print('two')
    return 10

def three():
    print('three')
    return 10

a = one()
b = two()
c = three()
print(a + b)
print(a + b + c)

In [ ]:
# 함수 연습문제 4
def one():
    print('one')
    print('one')
    print('one')
    return 10

def two():
    print('two')
    print('two')
    print('two')
    return 10

def three():
    print('three')
    print('three')
    print('three')
    return 10

a = one()
b = two()
c = three()
print(a + b)
print(a + b + c)

one
one
one
two
two
two
three
three
three
20
30

In [ ]:
# 함수 연습문제 4
# 좋지 않은 예 입니다!
def one():
    print('one')
    print('one')
    print('one')
    return 10

def two():
    print('two')
    print('two')
    print('two')
    return 10

def three():
    print('three')
    print('three')
    print('three')
    return 10

print(one() + two())
print(one() + two() + three())

one
one
one
two
two
two
20
one
one
one
two
two
two
three
three
three
30

In [ ]:
# 함수란 무엇일까요?
# 함수의 이름은 메모리 상에 코드 블럭을 가리키는 변수입니다. 
leehojun = print
leehojun('hello') # 소괄호는 그 함수 블록을 실행시키는 명령어가 됩니다.

hello

In [ ]:
id(leehojun), id(print)

(140462240912688, 140462240912688)

In [ ]:
l = [leehojun, print, leehojun, print]
leehojun('hello world')
l[0]('hello world')

hello world
hello world

In [ ]:
def hello(a):
    a('hello')
    a('hello')
    a('hello')

print(hello(print))

hello
hello
hello
None

In [ ]:
def hello():
    def custom_sum(a, b):
        return a + b
    return custom_sum

c = hello()
c(10, 100)

110

In [ ]:
def hello(a):
    return a

c = hello(print)
c(10, 100)

10 100

## 함수의 기본 기능

In [ ]:
# 파선아실(파라미터는 선언할 때, 아규먼트는 실제)
def function(x, y):
    z = x + y
    return z
print(f'function(5, 7) = {function(5, 7)}')

In [ ]:
# return을 만나게 되면 함수는 종료가 됩니다.
def function(x, y):
    z = x + y
    return z
    print('hello')
    print('hello')
print(function(5, 7))

In [ ]:
# return을 빨리 만나게 해주세요.
# early return
# 조건이 부합하지 않으면 바로 return을 하도록 하는 코딩 패턴
# 이렇게 작성함으로써, 가독성이 좋은 코드
def custom_sum(x, y):
    if type(x) != int or type(y) != int:
        return '연산할 수 없습니다.'
    z = x + y # 100줄이라 가정
    return z
print(custom_sum(5, '가나다'))

12

In [ ]:
# 한글코딩에 장점
# 1. 고유명사(한라산, 새싹멤버) -> 기획자와 소통하기도 좋습니다.
# 2. 알고리즘 가독성은 괜찮습니다. 프로젝트는 조금 힘들 수 있어요. 일부 모듈에서는 사용할 수 있습니다.

# 한글코딩에 단점
# 1. 싫어하시는 분도 많습니다.
# 2. 한영키 바꾸는 것

In [ ]:
# 함수 안에 함수
def one():
    def two():
        print('hello1')
    def three():
        print('hello2')
    return 100

print(one())

100

In [ ]:
# 함수 안에 함수와 함수 안에 변수는 밖에서 호출이 안됩니다.
# 아래것이 만약 실행되었다면 위 어딘가에서 two와 x가 정의되어 있는 것입니다.
def one():
    def two():
        print('hello1')
    def three():
        print('hello2')
    two()
    three()
    x = 1000
    return 100

one()
print(x)
two()

In [ ]:
# 함수 안에 함수와 함수 안에 변수를 해봤으니
# 이번에는 함수 밖에 함수와 함수 밖에 변수를 해보도록 하겠습니다.

def test():
    print('test')

def one():
    test()

def two():
    test()

one()
two()
test()

test
test
test

In [ ]:
# 위 원리와 마찬가지로 밖에 있는 변수를 '가져오는 것만' 가능합니다.
# 수정은 안됩니다.
test = 10

def one():
    print(test)

def two():
    print(test)

one()
two()

10
10

In [ ]:
# 이렇게 하시면 error가 납니다! 밖에 있는 변수는 수정이 안됩니다.
test = 10

def one():
    test = test + 10

one()

## 지역 변수와 전역 변수

In [ ]:
# 전역변수 접근은 가능하지만 수정이 되진 않습니다.
a = 100
def f():
    a = a + 1
f()

In [ ]:
#전역변수를 함수 내부에서 수정이 되게 하는 코드입니다.
#권하지 않습니다.
a = 100
def f():
    global a # 실무에서 사용 안합니다.
    a = a + 1
f()
print(a)

101

In [ ]:
a = 100
def f(x):
    x = x + 1
    return x
a = f(a)
print(a)

101

In [ ]:
#순수 함수
a = 100
def f(x):
    return x+x+100
f(10)
#아규먼트 값에 따라 다르지만

120

In [ ]:
# 지역변수와 전역변수
# 전역변수 : 전역에서 접근할 수 있는 변수
# 지역변수 :함수 내에서만 접근할 수 있는 변수

In [ ]:
def one():
    a = 10
    print(a)
one()
print(a)

In [ ]:
# 어려우신 분들은 pass!
# 조금 있다가 요약정리에서도 써드리지 않을 예정입니다.
# 자신의 공간에 변수가 선언되어 있지 않으면
# 전역까지 찾아 올라갑니다. 전역에도 없으면 error

a = 100
def one():
    a = 10
    def two():
        def three():
            a = 1000
            print(a)
        three()
        print(a)
    two()
    print(a)

one()
print(a)

1000
10
10
100

In [ ]:
# inner가 outer에 변수를 건드리고 싶은데
# inner 안에서는 x에 수정권한이 전혀 없습니다.
x = 100
def outer():
    x = 1
    def inner():
        nonlocal x
        x += 1
        print(x)
    inner()
    print(x)

outer()
print(x)

2
2
100

In [ ]:
x = 100
def outer():
    x = 1
    def inner():
        global x
        x += 1
        print(x)
    inner()
    print(x)

outer()
print(x)

## 재귀함수

* 내가 나를 호출하는 것입니다.
* 재귀 <-> for문은 대부분 호환이 가능합니다.
* 반복문 사용하시기를 권합니다!
* 어렵고 효율도 안좋아요! (얼마나 효율이 안좋은지도 확인해보겠습니다.)
* 필수적으로 사용하는 곳이 있습니다.

In [ ]:
# sys.setrecursionlimit -> 제한을 늘릴 수 있음
# 실행시키지 마세요.
def 숫자출력():
    print(1)
    return 숫자출력()
숫자출력()

In [ ]:
# for로 펙토리얼
# 5! = 5 * 4 * 3 * 2 * 1

result = 1

# 1 * 2 * 3 * 4 * 5
for i in range(1, 6):
    result *= i
    
result

120

In [ ]:
# 재귀로 펙토리얼

def f(n):
    if n <= 1:
        return 1
    else:
        return n * f(n-1)

f(5)

'''
f(5)    5 * f(4) == 5 * 24 => 120
f(4)    4 * f(3) == 4 * 6
f(3)    3 * f(2) == 3 * 2
f(2)    2 * f(1) == 2 * 1
f(1)    1
'''

'\nf(5)    5 * f(4) == 5 * 24 => 120\nf(4)    4 * f(3) == 4 * 6\nf(3)    3 * f(2) == 3 * 2\nf(2)    2 * f(1) == 2 * 1\nf(1)    1\n'

In [ ]:
#for 로 문자열 거꾸로 출력하기
s = 'hello'
result = ''

for i in s:
    result = i + result

result
# 실무에서는 이러한 방법을 사용하지 않고
# 슬라이싱이 for문을 이용한 방법보다 8배 더 빠름
# s[::-1] 로 사용

'olleh'

In [ ]:
def reverse(s):
    if len(s) == 1:
        return s
    else:
        return reverse(s[1:]) + s[0]

reverse('hello')


'''
reverse('hello')    reverse('ello') + 'h'   == 'olle' + 'h'
reverse('ello')     reverse('llo') + 'e'    == 'oll' + 'e'
reverse('llo')      reverse('lo') + 'l'     == 'ol' + 'l'
reverse('lo')       reverse('o') + 'l'      == 'o' + 'l'
reverse('o')        'o'
'''

"\nreverse('hello')    reverse('ello') + 'h'   == 'olle' + 'h'\nreverse('ello')     reverse('llo') + 'e'    == 'oll' + 'e'\nreverse('llo')      reverse('lo') + 'l'     == 'ol' + 'l'\nreverse('lo')       reverse('o') + 'l'      == 'o' + 'l'\nreverse('o')        'o'\n"

In [ ]:
def f(n):
    if n == 1 or n == 2:
        return 1
    return f(n-1) + f(n-2)

f(20)

6765

In [ ]:
from functools import lru_cache

@lru_cache(maxsize=None)
def fib(num):
    if num == 0:
        return 0
    if num == 1 or num == 2:
        return 1
    else:
        return fib(num-1) + fib(num-2)

fib(20)

6765

In [ ]:
def sq(x,n):
    exec
    if(n<=1):
        return x
    return x*sq(x,n-1)

sq(3,3)

27

NameError: ignored

##리스트

+ 순서를 가진 데이터들의 집합(Sequence)
+ 리스트는 값의 변경
+ 리스트 안에 리스트로 다차원의 리스트를 만드는 것도 가능
+ 리스트 안에 다른 딕셔너리, 셋, 튜플 등을 넣는 것도 가능합니다.

In [ ]:
i = [1000, 2000, 3000 ,1000, 2000, 3000]
id(i[0]), id(i[3])

(140169471632400, 140169471632400)

In [ ]:
# 컨벤션 자료형(딕셔너리. 튜플 셋 리스트)에서는
# 메모리 효율을 위해
# 같은 값이 있을 경우 같은곳을 가리키게 설계되어있습니다.

In [ ]:
i = [10,2.30,40]
i[0] = 1000
i

[1000, 2.3, 40]

In [ ]:
s = 'hello world'
s[0] = 'k'
s#error

In [ ]:
data = [[1,2,3],
        [4,5,3],
        [7,8,9]]
#각 값을 2배로
for i in range(3):
    for j in range(3):
        data[i][j] *= 2
data

[[2, 4, 6], [8, 10, 6], [14, 16, 18]]

In [ ]:
'''
3                       == 스칼라
[3, 4]                  == 벡터
[[1, 2, 3],             == 메트릭스(행렬)
 [4, 5, 6],
 [7, 8, 9]]
[[[1], [2], [3]],       == 텐서(다차원, 3차원 이상)
 [[4], [5], [6]],
 [[7], [8], [9]]]

텐서플로우 : 인공지능 중 유명한 라이브러리
'''

'\n3                       == 스칼라\n[3, 4]                  == 벡터\n[[1, 2, 3],             == 메트릭스(행렬)\n [4, 5, 6],\n [7, 8, 9]]\n[[[1], [2], [3]],       == 텐서(다차원, 3차원 이상)\n [[4], [5], [6]],\n [[7], [8], [9]]]\n\n텐서플로우 : 인공지능 중 유명한 라이브러리\n'

In [ ]:
# 리스트에서 주의해야 하는 연산!
x = [10] * 3
x

[10, 10, 10]

In [ ]:
x[0] = 100
x

[100, 10, 10]

In [ ]:
x = [[10] * 2] * 3
x

[[10, 10], [10, 10], [10, 10]]

In [ ]:
x[0][0] = 100
x

[[100, 10], [100, 10], [100, 10]]

In [ ]:
x = [[[10] * 3] * 3] * 4
x[0][0][0] = 1000
x

[[[1000, 10, 10], [1000, 10, 10], [1000, 10, 10]],
 [[1000, 10, 10], [1000, 10, 10], [1000, 10, 10]],
 [[1000, 10, 10], [1000, 10, 10], [1000, 10, 10]],
 [[1000, 10, 10], [1000, 10, 10], [1000, 10, 10]]]

## 리스트의 메서드

In [ ]:
# 'append', 'clear', 'copy', 'count', 'extend', 'index', 
# 'insert', 'pop', 'remove', 'reverse', 'sort'

In [ ]:
l = [1, 2, 3]
l.append(4)
l

[1, 2, 3, 4]

In [ ]:
l = [1, 2, 3]
l.append([1, 2, 3])
l

[1, 2, 3, [1, 2, 3]]

In [ ]:
l = [1, 2, 3]
l.extend(4) #error
l

In [ ]:
l = [1, 2, 3]
l.extend('hello')
l

[1, 2, 3, 'h', 'e', 'l', 'l', 'o']

In [ ]:
l = [1, 2, 3]
l.extend({'one':10, 'two':20})
l

[1, 2, 3, 'one', 'two']

In [ ]:
l = [1, 2, 3]
l.extend({10, 20, 30})
l

[1, 2, 3, 10, 20, 30]

In [ ]:
l = [1, 2, 3]
l.extend([1, 2, 3])
l

[1, 2, 3, 1, 2, 3]

In [ ]:
l = [10, 20, 30]
l.clear()
l

[]

In [ ]:
l = [10, 20, 30]
l = []
l

[]

In [ ]:
# 이 이상의 내용은 뒤에 얕은 복사와 깊은 복사에서 알아봅니다.
제주과일가게 = [['바나나', 1000], ['수박', 2000], ['딸기', 3000]]
# 서울과일가게 = 제주과일가게[:] # 얕은 복사
서울과일가게 = 제주과일가게.copy() # 얕은 복사
id(서울과일가게[0]), id(제주과일가게[0])
id(서울과일가게[0][0]), id(제주과일가게[0][0])
서울과일가게[0][1] = 3000
서울과일가게, 제주과일가게

([['바나나', 3000], ['수박', 2000], ['딸기', 3000]],
 [['바나나', 3000], ['수박', 2000], ['딸기', 3000]])

In [ ]:
l = [1, 2, 3]
ll = l[:]
l[0] = 1000
l, ll

([1000, 2, 3], [1, 2, 3])

In [ ]:
l = [1, 2, 3]
ll = l.copy()
l[0] = 1000
l, ll

([1000, 2, 3], [1, 2, 3])

In [ ]:
i = [1,2,3,1,1,1,2,3,2,3,1,1]
i.count(1)

6

In [ ]:
a = [10, 1, 1, 11, 2, 23, 12]
a.index(11)
a[a.index(11)]
a[:a.index(11)]

[10, 1, 1]

In [ ]:
a.insert(2, 10000000)
a

[10, 1, 10000000, 1, 11, 2, 23, 12]

In [ ]:
print(a.pop())
print(a.pop(2))
a

12
10000000

[10, 1, 1, 11, 2, 23]

In [ ]:
a = [1, 1, 1, 2, 3, 2, 1, 2]
a.remove(1)
a

[1, 1, 2, 3, 2, 1, 2]

In [ ]:
# 실무에서
# 어떤값을 전부 없애거나
# 어떤값을 전부 찾는것
# 조건에 부합하는 것
def f(x):
    return x != 20

# True인 것만 반환해줍니다.
list(filter(f,[10,20,30,40,50,20,20,20]))

[10, 30, 40, 50]

In [ ]:
filter(f,[10,20,30,40,50,20,20,20])

In [ ]:
list(filter(lambda x:x!=20, [10,20,30,40,50,20,20,20]))

[10, 30, 40, 50]

In [ ]:
range(100)

range(0, 100)

In [ ]:
a = [1, 2, 3, 4, 5, 1, 2]
a.reverse()#역정렬이 아니고 역순이며 원본을 만짐
a

[2, 1, 5, 4, 3, 2, 1]

In [ ]:
i = [5,6,4,3,8,9,1]
reversed(i) # 역정렬이 아니고 역순이며 원본을 만지지 않음
print(i)
print(list(reversed(i)))

[5, 6, 4, 3, 8, 9, 1]
[1, 9, 8, 3, 4, 6, 5]

In [ ]:
reversed(i)

NameError: ignored

##sort

In [ ]:
i = [1,5,4,2,8,5,10,9,2,3]
i.sort() # 원본을 만지고, 반환값은 none
i

[1, 2, 2, 3, 4, 5, 5, 8, 9, 10]

In [ ]:
i = [1,5,4,2,8,5,10,9,2,3]
type(sorted([1,5,4,2,8,5,10,9,2,3]))#원본을 만지지않고 반환값은 정렬된 값
i

[1, 5, 4, 2, 8, 5, 10, 9, 2, 3]

In [ ]:
i =[1,5,4,2,8,5,10,9,2,3]
i.sort()
i.reverse()
i

[10, 9, 8, 5, 5, 4, 3, 2, 2, 1]

In [ ]:
i = [1,5,4,2,8,5,10,9,2,3]
i.sort(reverse = True)# 내림차순
i

[10, 9, 8, 5, 5, 4, 3, 2, 2, 1]

In [ ]:
i = [1,5,4,2,8,5,10,9,2,3]
sorted(i ,reverse=True)# 내림차순

[10, 9, 8, 5, 5, 4, 3, 2, 2, 1]

In [ ]:
l = [[1, 10, 'leehojun'], 
     [20, 30, 'hojun'], 
     [10, 20, 'weniv'], 
     [1, 2, 'likelion'], 
     [55, 11, 'sun']]

# 1. 글자 수 대로 정렬해주세요.

def f(x):
    return len(x[2])
print(sorted(l,key = f))
print(sorted(l,key = lambda x:len(x[2])))

# 2. 맨 앞에 위치한 숫자대로 정렬해주세요.
def f2(x):
    return x[0]
    
print(sorted(l,key = f2))
print(sorted(l,key = lambda x:x[0]))

# 3. 중앙에 위치한 값대로 정렬해주세요.
def f3(x):
    return x[1]
    
print(sorted(l,key = f3))
print(sorted(l,key = lambda x:x[1]))

l = [[1, 10, 32], 
     [20, 30, 11], 
     [10, 20, 22], 
     [1, 2, 13], 
     [55, 11, 44]]


# 4. 3개의 전체 합이 작은 순서대로 출력해주세요.
def f4(x):
    return sum(x)
    
print(sorted(l,key = f4))
print(sorted(l,key = lambda x:sum(x)))

[[55, 11, 'sun'], [20, 30, 'hojun'], [10, 20, 'weniv'], [1, 10, 'leehojun'], [1, 2, 'likelion']]
[[55, 11, 'sun'], [20, 30, 'hojun'], [10, 20, 'weniv'], [1, 10, 'leehojun'], [1, 2, 'likelion']]
[[1, 10, 'leehojun'], [1, 2, 'likelion'], [10, 20, 'weniv'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 10, 'leehojun'], [1, 2, 'likelion'], [10, 20, 'weniv'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 2, 'likelion'], [1, 10, 'leehojun'], [55, 11, 'sun'], [10, 20, 'weniv'], [20, 30, 'hojun']]
[[1, 2, 'likelion'], [1, 10, 'leehojun'], [55, 11, 'sun'], [10, 20, 'weniv'], [20, 30, 'hojun']]
[[1, 2, 13], [1, 10, 32], [10, 20, 22], [20, 30, 11], [55, 11, 44]]
[[1, 2, 13], [1, 10, 32], [10, 20, 22], [20, 30, 11], [55, 11, 44]]

In [ ]:
point = [1,3,4,8,13,17,20]

sorted(list(zip(point,point[1:])),key = lambda x:x[1]-x[0])[0]

(3, 4)

## 깊은 복사와 얕은복사

In [ ]:
#아무런 복사도 이뤄지지 않은상태
l = [[1,2,3],[4,5,6]]
ll = l
ll[0][0] = 10
l,ll

([[10, 2, 3], [4, 5, 6]], [[10, 2, 3], [4, 5, 6]])

In [ ]:
#얕은 복사
l = [1,2,3,4,5,6]
ll = l.copy()
id(l[0])
id(ll[0])

140524193595632

In [ ]:
#얕은 복사
l =[[1,2,3],[4,5,6]]
ll = l.copy()
ll[0][0] = 10
l,ll

([[10, 2, 3], [4, 5, 6]], [[10, 2, 3], [4, 5, 6]])

In [ ]:
id(l[0]),id(ll[0])

(140523423740672, 140523423740672)

In [ ]:
#깊은복사
import copy

l = [[1,2,3],[4,5,6]]
ll = copy.deepcopy(l)
ll[0][0] = 10
l,ll

([[1, 2, 3], [4, 5, 6]], [[10, 2, 3], [4, 5, 6]])

- 얕은 복사는 1계층만 복사합니다
- 깊은 복사는 n계층까지 모두 복사합니다

- 나를 이해시키는 단 하나의 코드는 반드시 존재합니다.

In [ ]:
# 얕은 복사
# 리스트 컴프리헨션은 안배운 내용이니 keep해두시고
# for문 배운다음 다시 오셔서 복습하시기를 권해드립니다.
l = [[1, 2, 3], [4, 5, 6]]
ll = [i for i in l]
l[0][0] = 100
l, ll

([[100, 2, 3], [4, 5, 6]], [[100, 2, 3], [4, 5, 6]])

In [ ]:
# 1단계 깊은 복사
# 리스트 컴프리헨션은 안배운 내용이니 keep해두시고
# for문 배운다음 다시 오셔서 복습하시기를 권해드립니다.
l = [[1, 2, 3], [4, 5, 6]]
ll = [i[:] for i in l]
l[0][0] = 100
l, ll

([[100, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]])

##다차원리스트

In [ ]:
a = [[1,2,3],[11,22,33],['leehojun',20,30]]
#문제 : jun만 뽑아주세요
a[-1][0][-3:]

'jun'

##built-in function
- A
    - abs()
    - all()
    - any()

- B
    - bin()
    - bool()

- C
    - chr()

- D
    - dict()
    - dir()

- E
    - enumerate()
    - eval()

- F
    - filter()
    - float()

- G
    - globals()

- H
    - help()
    - hex()

- I
    - id()
    - input()
    - int()
    - isinstance()
    - issubclass()
    - iter()

- L
    - len()
    - list()
    - locals()

- M
    - map()
    - max()
    - min()

- N
    - next()

- O
    - object()
    - oct()
    - open()
    - ord()

- P
    - pow()
    - print()
    - property()

- R
    - range()
    - repr()
    - reversed()
    - round()

- S
    - set()
    - setattr()
    - slice()
    - sorted()
    - staticmethod()
    - str()
    - sum()
    - super()

- T
    - tuple()
    - type()

- V
    - vars()

- Z
    - zip()

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
print(max(a)) #최댓값
print(min(a)) #최솟값
print(sum(a)) #전체값의 합

8
1
36

In [ ]:
#2차원
a = [[1, 2, 3, 'a'],
     [11, 22, 33, 'aaa'],
     [10, 2000, 30, 'aa']]

max(a, key=lambda x:x[1])
max(a, key=lambda x:len(x[3]))

[11, 22, 33, 'aaa']

In [ ]:
# 이름, 별점, 객실수, 가격
호텔 = [
    ['이스트소프트 호텔', 5, 100, 155000],
    ['삼스트소프트 호텔', 4, 80, 145000],
    ['사스트소프트 호텔', 3, 70, 135000], 
    # 마지막에 콤마를 허락하는 언어는 제한적(특히 JSON에서는 엄격해서 허락하지 않습니다.)
]

max(호텔, key=lambda x:x[3]) # 가장 가격이 높은 것을 뽑아낼 수 있음
min(호텔, key=lambda x:x[3]) # 가장 가격이 높은 것을 뽑아낼 수 있음

['사스트소프트 호텔', 3, 70, 135000]

In [ ]:
#2차원
a = [[1, 2, 3],
     [11, 22, 33],
     [10, 2000, 30]]
     
max(a, key=lambda x:x[1])
min(a, key=lambda x:x[1])
# sum(a) error
sum(a, [])

##리스트의 순회

In [ ]:
#1차원
a = [1,2,3,4,5,6]
for i in a:
    print(i)

1
2
3
4
5
6

In [ ]:
#2차원
a = [[1,2,3],
     [11,22,33],
     [13,20000,405050]]
for i in a:
    for j in i:
        print(j)
        print('---')
print('end')

1
---
2
---
3
---
11
---
22
---
33
---
13
---
20000
---
405050
---
end

## range

In [ ]:
# range(start, stop ,step)
# 슬라이싱과 같은 규칙
# 3슬라이싱은 ":"으로 연결되어 있고
# range 는 '.'(콤마)로 연결되어 있습니다.

print(list(range(100)))
# python 2.x에서 python 3.x의 range를 사용하려면 xrange
print(list(range(5,10)))
 
print(list(range(0,101,2)))# 짝수
print(list(range(1,101,2)))# 홀수
print(sum(list(range(0, 101)))) # 리소스 낭비
print(sum(range(0, 101))) # 이렇게 형 변환을 하지 않고 sum하시는 것을 권합니다.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
5050
5050

## list comprehension

In [ ]:
# 1~ 100
# i = [1,2,3,4,...]
# list(range(1,101))
l = []
for i in range(10):
    l.append(i**i)
l
l = [i**i for i in range(50)]
l

[1,
 1,
 4,
 27,
 256,
 3125,
 46656,
 823543,
 16777216,
 387420489,
 10000000000,
 285311670611,
 8916100448256,
 302875106592253,
 11112006825558016,
 437893890380859375,
 18446744073709551616,
 827240261886336764177,
 39346408075296537575424,
 1978419655660313589123979,
 104857600000000000000000000,
 5842587018385982521381124421,
 341427877364219557396646723584,
 20880467999847912034355032910567,
 1333735776850284124449081472843776,
 88817841970012523233890533447265625,
 6156119580207157310796674288400203776,
 443426488243037769948249630619149892803,
 33145523113253374862572728253364605812736,
 2567686153161211134561828214731016126483469,
 205891132094649000000000000000000000000000000,
 17069174130723235958610643029059314756044734431,
 1461501637330902918203684832716283019655932542976,
 129110040087761027839616029934664535539337183380513,
 11756638905368616011414050501310355554617941909569536,
 1102507499354148695951786433413508348166942596435546875,
 106387358923716524807713475752456393740167855629859291136,
 10555134955777783414078330085995832946127396083370199442517,
 1075911801979993982060429252856123779115487368830416064610304,
 112595147462071192539789448988889059930192105219196517009951959,
 12089258196146291747061760000000000000000000000000000000000000000,
 1330877630632711998713399240963346255985889330161650994325137953641,
 150130937545296572356771972164254457814047970568738777235893533016064,
 17343773367030267519903781288812032158308062539012091953077767198995507,
 2050773823560610053645205609172376035486179836520607547294916966189367296,
 248063644451341145494649182395412689744530581492654164321720600128173828125,
 30680346300794274230660433647640397899788170645078853280082659754365153181696,
 3877924263464448622666648186154330754898344901344205917642325627886496385062863,
 500702078263459319174537025249570888246709955377400223021257741084821677152403456,
 66009724686219550843768321818371771650147004059278069406814190436565131829325062449]

In [ ]:
[i for i in range(1,100) if i % 3 == 0 or i%5 == 0]

[3,
 5,
 6,
 9,
 10,
 12,
 15,
 18,
 20,
 21,
 24,
 25,
 27,
 30,
 33,
 35,
 36,
 39,
 40,
 42,
 45,
 48,
 50,
 51,
 54,
 55,
 57,
 60,
 63,
 65,
 66,
 69,
 70,
 72,
 75,
 78,
 80,
 81,
 84,
 85,
 87,
 90,
 93,
 95,
 96,
 99]

##튜플

- 튜플은 순서가 있는 시퀀스형 자료형입니다.
- 참조값은 변경이 불가능(immutable) 합니다.
- 다른 자료형을 입력할 수 있으며, 튜플 안에 튜플로 다차원의 튜플을 만드는 것도 가능합니다.
- 값의 중복을 허락합니다.

In [ ]:
l = [1, 2, 3]
t = (l, 20, 30) # 불변인 것은 t가 l을 참조하고 있다는 것이 불변
l[0] = 1000
t

([1000, 2, 3], 20, 30)

In [ ]:
t = (10, 20, 30, 40, 50)
t[:3]

(10, 20, 30)

In [ ]:
t = (10, 20, 30, 40, 50, 20)
t.index(20),t.count(20)

(1, 2)

In [ ]:
t = tuple('leehojun')
t
t = tuple()
t
t = tuple(range(10))
t
t = (1) 
t
t = (1,) #원소를 하나씩 넣고 싶을 때는 콤마(,)를 사용해줍니다.
t

(1,)

## 딕셔너리

- 딕셔너리는 순서가 없는 자료형입니다.
- 사전형은 Key와 Value 가 하나의 묶음으로 이루어진 자료형입니다.
- 값의 변경이 가능합니다.
- 다른 자료형을 입력할 수 있습니다.
- 키의 중복은 허락하지 않고, 값의 중복을 허락합니다.

In [ ]:
{
    '게시물 번호' : 1,
    '게시자' : '김준균',
    '게시물 내용': '........'
}

{'게시물 번호': 1, '게시자': '김준균', '게시물 내용': '........'}

In [ ]:
d = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
d
d['one']

'하나'

In [ ]:
d['two'] = '투'
d

{'one': '하나', 'two': '투', 'three': '셋'}

In [ ]:
d.items()
e = dict([('one', '하나'), ('two', '투'), ('three', '셋')])
e['one'] = '일'
e

{'one': '일', 'two': '투', 'three': '셋'}

In [ ]:
z = zip('ABC', '123', 'abc')
dict(z)#에러

In [ ]:
z = zip('ABC', '123')
dict(z)#에러

{'A': '1', 'B': '2', 'C': '3'}

In [ ]:
#dict와 list를 사용해서 아래와 같은 형태로 만들어주세요

# 원하는 형태 {'A' : [10,20],'B' : [20,30], 'C' : [30,40]}

In [ ]:
# 공부해두시면 좋습니다!
def switch(day):
    return {
        1 : '월요일',
        2 : '화요일',
        3 : '수요일',
        4 : '목요일',
        5 : '금요일',
        6 : '토요일',
        7 : '일요일',
    }[day]

switch(7)
switch(8)

KeyError: ignored

In [ ]:
# 공부해두시면 좋습니다!
def switch(day):
    return {
        1 : '월요일',
        2 : '화요일',
        3 : '수요일',
        4 : '목요일',
        5 : '금요일',
        6 : '토요일',
        7 : '일요일',
    }.get(day,'요일을 찾지 못했습니다.')

switch(7)
switch(8)

'요일을 찾지 못했습니다.'

In [ ]:
!python --version

Python 3.10.11

In [ ]:
# 3.10버전 최신 문법에서는 match문법을 허용합니다!
def number_to_string(agrument):
    match agrument:
        case 0:
            return "zero"
        case 1:
            return "one"
        case 2:
            return "two"
        case default:
            return "nothing"

number_to_string(3)

'nothing'

In [ ]:
{'A' : [10,20],'B' : [20,30], 'C' : [30,40]}.keys()

dict_keys(['A', 'B', 'C'])

In [ ]:
{'A' : [10,20],'B' : [20,30], 'C' : [30,40]}.values()

dict_values([[10, 20], [20, 30], [30, 40]])

In [ ]:
{'A' : [10,20],'B' : [20,30], 'C' : [30,40]}.items()

dict_items([('A', [10, 20]), ('B', [20, 30]), ('C', [30, 40])])

In [ ]:
{'A' : [10,20],'B' : [20,30], 'C' : [30,40]}.get

In [ ]:
for i, j in d.items():
     print(i, j)

d.items()

one 하나
two 투
three 셋

dict_items([('one', '하나'), ('two', '투'), ('three', '셋')])

##언패킹

In [ ]:
# 패킹 : 1,2,3 => [1,2,3]
# 언패킹 : [1,2,3] => 1,2,3

In [ ]:
for i ,j in [[10,20],[30,40],[50,60]]:
    print(i,j)

10 20
30 40
50 60

In [ ]:
for i, j, k in [[10, 20, [1, 2]], [30, 40, [3, 4]], [50, 60, [5, 6]]]:
    print(i, j,k)

10 20 [1, 2]
30 40 [3, 4]
50 60 [5, 6]

In [ ]:
#swap
a = 10
b = 15
a,b = b,a
a,b

(15, 10)

##max를 이용한 dict의 최대값 가져오기

In [ ]:
d = {
    'test1': 10,
    'test2': 20,
    'test3': 31,
    'test4': 11,
}

max(d.values())
max(d, key=lambda x: d[x])
max(d, key=d.get) #

##Set(셋,집합)

- 집합 자료형은 중복을 허용하지 않음
- 순서가 없는 자료형

In [ ]:
n = set([1,1,2,2,2,3,4,4,5,2,])
n

{1, 2, 3, 4, 5}

In [ ]:
s = set('hello world')
print(s)

{'w', 'e', 'd', 'l', 'h', ' ', 'r', 'o'}

In [ ]:
menu = set(['americano', 'cafe latte'])
menu.add('ice coffee')
print(menu)

{'americano', 'ice coffee', 'cafe latte'}

In [ ]:
menu = set(['americano', 'cafe latte'])
menu.update(['ice coffee', 'ice tea', 'green tea'])
print(menu)

{'ice tea', 'green tea', 'americano', 'cafe latte', 'ice coffee'}

In [ ]:
menu = set(['americano', 'cafe latte'])
menu.remove('cafe latte')
print(menu)

{'americano'}

In [ ]:
# 교집합 (and)
my_cafe = set(['americano', 'water', 'yogurt strawberry blended', 'cafe latte'])
other_cafe = set(['americano', 'water', 'green tea'])

print(my_cafe & other_cafe)
print(my_cafe.intersection(other_cafe))

{'americano', 'water'}
{'americano', 'water'}

In [ ]:
# 합집합 (or)
my_cafe = set(['americano', 'water', 'yogurt strawberry blended', 'cafe latte'])
other_cafe = set(['americano', 'water', 'green tea'])

print(my_cafe | other_cafe)
print(my_cafe.union(other_cafe))

{'water', 'americano', 'yogurt strawberry blended', 'cafe latte', 'green tea'}
{'water', 'americano', 'yogurt strawberry blended', 'cafe latte', 'green tea'}

In [ ]:
# 차집합 (a - b)
my_cafe = set(['americano', 'water', 'yogurt strawberry blended', 'cafe latte'])
other_cafe = set(['americano', 'water', 'green tea'])

print(my_cafe - other_cafe)
print(my_cafe.difference(other_cafe))

{'yogurt strawberry blended', 'cafe latte'}
{'yogurt strawberry blended', 'cafe latte'}

In [ ]:
# issubset
# 새로운 값에 원래의 값이 속하는지 확인하고 싶을 때는 issubset 함수를 사용합니다.

s = {1, 2, 3, 4}
ss = {3, 4, 5, 6}
s.issubset({1, 2})
s.issubset({1, 2, 3, 4, 5, 6})

s < {1, 2, 3, 4, 5, 6} #진부분집합(<->진상위집합)
s <= {1, 2, 3, 4, 5, 6} #부분집합(<->상위집합)

True

In [ ]:
student_score = {
		'홍의': 97,
		'원희': 60,
		'동해': 77,
		'변수': 79,
		'창현': 89,
}
print(sum(student_score.values()))
print(sum(student_score.values())/len(student_score.values()))
max_student = max(student_score,key = student_score.get)
print(max_student,student_score[max_student])
min_student = min(student_score,key = student_score.get)
print(min_student,student_score[min_student])

like = ['볶음밥', '라면', '국수', '파스타', '치킨', '짜장면', '국밥']
dislike = ['국밥', '짬뽕', '찜닭', '파스타', '국수', '카레', '덮밥']

set(like)-set(dislike)

402
80.4
홍의 97
원희 60

{'라면', '볶음밥', '짜장면', '치킨'}

In [ ]:
text = "Hello"
match text:
    case "Hello", "World":
        print("World")
    case _:
        print("No Match")

No Match

##(질의응답) max(student_score, key= student_score.get)

In [ ]:
def 함수(x):
    print(x, ll[x])
    return ll[x]

l = [2, 4, 5, 3, 6, 0, 7, 1]
ll = [10, 20, 30, 40, 50, 60, 70, 80]

max(l, key=함수)

In [ ]:
def 함수(x):
    print(x, ll[x])
    return ll[x]

l = [2, 4, 5, 3, 6, 0, 7, 1]
ll = ['hello', 'a', 'bb', 'ccc', 'a', 'bbbb', 'hello world', 'cc']

max(l, key=함수)

2 bb
4 a
5 bbbb
3 ccc
6 hello world
0 hello
7 cc
1 a

6

In [ ]:
# return에 초점을 맞춰주세요.
def 함수(x):
    return d.get(x)

d = {
    'test1': 10,
    'test2': 20,
    'test3': 31,
    'test4': 11,
}

max(d, key=함수)
max(d, key=d.get)
# max(d, key=lambda x: d[x])

'test3'

In [ ]:
# return에 초점을 맞춰주세요.
def 함수(x):
    return len(x)
l = ['a', 'bb', 'ccc', 'dd']

max(l, key=함수)
max(l, key=len)

'ccc'

In [ ]:
def 함수(x):
    return d.get(x)

수학 = {
    '학생1': 10,
    '학생2': 20,
    '학생3': 31,
    '학생4': 11,
}

과학 = {
    '학생1': 11,
    '학생2': 17,
    '학생3': 13,
    '학생4': 11,
    '학생5': 25,
    '학생6': 100,
}

수학점수가가장큰사람 = max(수학, key=수학.get)
과학점수가가장큰사람 = max(과학, key=과학.get)
max(수학, key=과학.get)

'학생2'

In [ ]:
def 함수(x):
    return len(x)


l = ['a','bb','ccc','dd']
max(l,key= 함수)

'ccc'

##(질의응답) 함수의 아규먼트 순서

In [ ]:
def f(a, b, c):
    print(a, b, c)

# f() # error
# f(100, 10) # error
f(a=100, b=200, c=300)
f(c=300, a=100, b=200) #실무에서 이렇게 순서를 바꿔서 넣지 않고 보통 순서를 지켜줍니다.

# 실무에서 언제 사용이 될까요?
# 파라미터, 아규먼츠가 매우 많을 때
# 이런 함수가 나오면 이 함수가 무엇을 뜻하는 것일까요?
# addNewControl("Title", 20, 50, 100, 50, 200, 300, 150)
# addNewControl(title="Title", height=20, width=50, textlen = 100, ...)
# 어? 컨트롤 박스를 만드는 구나...

100 200 300
100 200 300

In [ ]:
def f(a=10, b=20, c=30):
    print(a, b, c)

f()
f(100, 10)
f(a=100, b=200, c=300)
f(c=300, a=100, b=200)

10 20 30
100 10 30
100 200 300
100 200 300

In [ ]:
def f(a, b=20, c=10): # 순서대로 안주어야 하기 때문에 a에 값을 넣지 않았습니다.
    print(a, b, c)

# f() # error
f(100, 10)
f(a=100, b=200, c=300)
f(c=300, a=100, b=200)

##(질의응답) zip,map 등 한 번 순회가 되면 순회가 안되는 이유

In [ ]:
a = [1,2,3]
b = ['a','b','c']

z = zip(a,b)
print(list(z))
print(list(z))

[(1, 'a'), (2, 'b'), (3, 'c')]
[]

In [ ]:
li = [1, 2, 3]
st = ['a', 'b', 'c']
i = iter(zip(li, st))
next(i)

(1, 'a')

In [ ]:
li = [1, 2, 3]
z = map(lambda x:x**2, li)

for i in z:
    print(i)

for i in z:
    print(i)

1
4
9

In [ ]:
li = [1, 2, 3]
z = reversed(li)

for i in z:
    print(i)

for i in z:
    print(i)

3
2
1

In [ ]:
li = [1, 2, 3]
z = filter(lambda x:x>1, li)

for i in z:
    print(i)

for i in z:
    print(i)

2
3

In [ ]:
# 계속 순회가 가능하게 설계가 되어있음
# 이런 설계를 뒤에서 직접 해보게 됨
li = [1, 2, 3]
z = sorted(li)

for i in z:
    print(i)

for i in z:
    print(i)

1
2
3
1
2
3

## 조건문

* if, elif, else, continue, break

In [ ]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
elif score >= 80:
    print('mom : i\'m happy!')
    money += 100000
elif score >= 70:
    print('mom : i\'m so...!')
    money += 10000
elif score >= 60:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)
# if,elif,else 구문은 함께 썼다면 한 덩어리가 되어
# 하나만 실행이 되고 나머지는 실행이 되지 않습니다.

mom : i'm happy!
100000

In [ ]:
x = 2
if x > 1  and x < 10:
    print('True')

True

In [ ]:
def f():
    return False # True와 False로 바꿔보세요.

if f():
    print('hello')
    print('one')
print('two')

two

In [ ]:

if '': # [], {}, '' 는 모두 False 취급 합니다.
    print('hello')
    print('one')
print('two')

two

In [ ]:

if ' ': # 공백이 있는 것입니다.
    print('hello')
    print('one')
print('two')

hello
one
two

In [ ]:
if [                    ]:
    print('hello')
    print('one')
print('two')

two

In [ ]:
if [,]: # SyntaxError
    print('hello')
    print('one')
print('two')

In [ ]:
if [10,
    20,
    30, # 마지막 콤마는 허락합니다! 소괄호, 중괄호, 대괄호에 공백은 병합니다.
    ]:
    print('hello')
    print('one')
print('two')

hello
one
two

In [ ]:
x = 11
if x == 10:
    print('hello')

In [ ]:
if None:
    print('false')

In [ ]:
if 10 > 11:
    print('one')
    print('two')
print('three')
else: # error
    print('four')

SyntaxError: ignored

In [ ]:
if 10 > 11:
    print('one')
    print('two')
    print('three')
else: # error
    print('four')

four

In [ ]:
# 여러개의 if문을 단축할 수 있는 방법
# 가독성이; 좋아지는는 것을 선택해야함
# 정답은 없음

# and 구문으로 if를 합칠 수 있음
x = 10
if x > 5:
    if type(x) == int:
        print('one')

if x > 5 and type(x) == int:
    print('one')

one
one

## if 심화

In [ ]:
if 1 > 5: print('hello')
elif 1 > 5: print('world')
else: print('hello world')
# 저는 개인적으로 해당 문법이 가독성을 떨어트린다라고 생각해
# 권장하진 않습니다.
if 10 > 5: print('hello') # 1줄에 사용하는 것이 가능하긴합니다.

hello world
hello

In [ ]:
# 삼항연산자는 가독성을 해치지 않는 선에서 많이 사용합니다.
print('one') if 5>1 else print('two')

one

In [ ]:

# 할당이나 return 에서 많이 사용
y = 100
x = 'one' if y > 80 else None

In [ ]:
x

'one'

In [ ]:
def f():
    if y > 80:
        x = 'one'
    else:
        x = None
    return x

In [ ]:
def custom_sum(x):
    return sum(x) if len(list(filter(lambda x:type(x)==int, x))) == len(x) else float('inf')

custom_sum([1, 2, 3, 4, 5, 6]) # 21
custom_sum([1, 2, 3, 4, '5', 6]) # float('inf')

inf

In [ ]:
# 문제 : 다음 if문을 3항 연산자로 표현해주세요

if x % 2 == 0:
    홀짝여부 = '짝수'
else:
    홀짝여부 = '홀수'

# 답
x = 10
홀짝여부 = '짝수' if x % 2 == 0 else '홀수'

In [ ]:
str(['a','ab','aca'])

"['a', 'ab', 'aca']"

## 반복문

In [ ]:
# for 변수 in 순회가능한객체:
#     code

In [ ]:
# 순회가능한객체 != 시퀀스형자료형 # 순서가 없어도 순회가 가능하기 때문에

In [ ]:
for i in 'hello world':
    print(i)

In [ ]:
for i in 10: # error
    print(i)

In [ ]:
for i in 10.1: # error
    print(i)

In [ ]:
for i in [1, 2, 3]:
    print(i)

In [ ]:
for i in (1, 2, 3):
    print(i)

In [ ]:
for i in {1, 2, 3}:
    print(i)

In [ ]:
for i in {'one':1, 'two':2, 'three':3}:
    print(i)

In [ ]:
# 변수에는 range, enumerate, zip, map, sorted, reversed...
for i in range(10):
    print(i)

In [ ]:
언어순위 = ['Python', 'JavaScript', 'JAVA', 'Ruby']
for i in 언어순위:
    print(i)

Python
JavaScript
JAVA
Ruby

In [ ]:
언어순위 = ['Python', 'JavaScript', 'JAVA', 'Ruby']
for i in enumerate(언어순위):
    print(i)

(0, 'Python')
(1, 'JavaScript')
(2, 'JAVA')
(3, 'Ruby')

In [ ]:
언어순위 = ['Python', 'JavaScript', 'JAVA', 'Ruby']
for i in enumerate(언어순위, 1):
    print(i)

(1, 'Python')
(2, 'JavaScript')
(3, 'JAVA')
(4, 'Ruby')

In [ ]:
언어순위 = ['Python', 'JavaScript', 'JAVA', 'Ruby']
for i in enumerate(언어순위, 101):
    print(i)

(101, 'Python')
(102, 'JavaScript')
(103, 'JAVA')
(104, 'Ruby')

In [ ]:
언어순위 = ['Python', 'JavaScript', 'JAVA', 'Ruby']
for i, j in enumerate(언어순위, 101):
    print(i, j)

101 Python
102 JavaScript
103 JAVA
104 Ruby

## !! 오늘 배운 것 정리
* 조건문
    * 조건에 따라 코드를 분기할 수 있는 구문
    * if, elif, else
    * elif와 else는 단독으로 사용이 되지 않습니다.
    * 예시(score에 값을 변경해보면서 money 값을 확인해주세요.)
    ```python
    score = 81
    money = 0

    if score >= 90: # 만약에 조건이 참이라면
        print('mom : i\'m so happy!')
        money += 1000000
    elif score >= 80: # 그렇지 않고 만약에 조건이 참이라면
        print('mom : i\'m happy!')
        money += 100000
    elif score >= 70: # '그렇지 않고 만약에'에서 '그렇지 않고'가 만족이 안되기 때문에 실행하지 못합니다.
        print('mom : i\'m so...!')
        money += 10000
    elif score >= 60:
        print('mom : i\'m so...!')
        money += 1000
    else:
        print('mom : i\'m...!')
    print(money)
    ```
    * 3항 연산자
    ```python
    def f(y):
    return 'one' if y > 80 else None
    ```
* 정해진 순서를(next) 반복하는 것
    * 형태
    ```python
    # for 변수 in 순회가능한객체:
    #     code
    ```
    * 순회 가능한 객체(이터러블 객체) : 문자열, 리스트, 튜플, 딕셔너리, 셋, range, enumerate, map, set, sorted, reverse 등
    * 순회 불가능한 객체 : int, float 등 
    * code 안에서 변수를 사용하지 않을 경우 언더바를 관습적으로 사용합니다.
    ```python
    # for _ in 순회가능한객체:
    #     code
    ```

In [ ]:
for _ in range(3):
    print('hello world')

hello world
hello world
hello world

In [ ]:
for _, i in [[1, 2], [3, 4], [5, 6]]:
    print('hello world')
    print(i)

hello world
2
hello world
4
hello world
6

In [ ]:
s = 0
for i in range(0, 101, 2):
    s += i
s

2550

In [ ]:
listx= [100,200,300,400]
strx= 'abcd'
dictx = {'one':1, 'two':2}

listxlter = iter(listx)
strxlter= iter(strx)
dictxlter= iter(dictx)

# 시퀀스형 자료형에만 next가 되는 것이 아니고 
# next 다음 순회 값을 지정할 뿐입니다.
print(next(listxlter), next(listxlter), next(listxlter), next(listxlter))
print(next(strxlter), next(strxlter), next(strxlter), next(strxlter))
print(next(dictxlter), next(dictxlter))

100 200 300 400
a b c d
one two

In [ ]:
# for True: # 이렇게 사용하지는 못합니다.
#    print('hello')

## break과 continue

In [ ]:
for i in range(10):
    print(i)
    if i == 5:
        break

0
1
2
3
4
5

In [ ]:
for i in range(10):
    for j in range(10):
        print(i,j)
        if i == 5:
            break

In [ ]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
for i in range(10):
    print(i)
else:
    print('정상종료!')


for i in range(10):
    print(i)
    if i == 5:
        break
else:
    print('정상종료!')

0
1
2
3
4
5
6
7
8
9
정상종료!
0
1
2
3
4
5

In [ ]:
#for문으로 무한반복 걍 while True쓰면될듯

l = [1]
for i in l:
    l.append(i+1)
    print(l)

## 리스트 표현식(list comprehension)

In [ ]:
l = []
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l = []
for i in range(10):
    if i % 2 == 0:
        l.append(i)
l

[0, 2, 4, 6, 8]

In [ ]:
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

In [ ]:
l = ['aa', 'abc', 'bbb','ccc','aba']
[i for i in l if 'a' in i]

['aa', 'abc', 'aba']

In [ ]:



solution(["mumu", "soe", "poe", "kai", "mine"],["kai", "kai", "mine", "mine"])

['mumu', 'soe', 'poe', 'kai', 'mine']
['mumu', 'soe', 'kai', 'poe', 'mine']
['mumu', 'kai', 'soe', 'poe', 'mine']
['mumu', 'kai', 'soe', 'mine', 'poe']

['mumu', 'kai', 'mine', 'soe', 'poe']

In [ ]:
# 구구단
# for i in range(2, 10):
#     for j in range(1, 10):
#         print(i, j, i*j)

'''
# step 0
# 이렇게 손이나 문자열로 늘여트려놓고
# 내가 무엇을 줄일 수 있을까?를 고민하세요.
2 1 2
2 2 4
2 3 6
2 4 8
2 5 10
2 6 12
2 7 14
2 8 16
2 9 18
3 1 3
3 2 6
3 3 9
3 4 12
3 5 15
3 6 18
3 7 21
3 8 24
3 9 27
'''

# step 1 ~ 100 이렇게 하나씩 줄여가면 됩니다.
# for i in range(1, 10):
#     print(2, i, 99)

# step 1 ~ 100 이렇게 하나씩 줄여가면 됩니다.
# for i in range(1, 10):
#     print(2, i, 2*i)

for 단 in range(2, 10):
    for i in range(1, 10):
        print(단, i, 단*i)

In [ ]:
# 별찍기
# 트리 만드는 문제도 있고, 원 만드는 문제도 있고...
# '''
# *
# **
# ***
# ****
# *****
# '''
user_input = int(input('찍을 별의 층수?'))
for i in range(1, user_input+1):
    print('*' * i)

찍을 별의 층수?5
*
**
***
****
*****

##다중 리스트 순회

In [ ]:
skill = [
        ('고기잡이', 100),
        ('고기팔기', 120),
        ('낚시', 5),
        ('통발', 5),
        ('큰그물', 5)
]

for i,j in skill:
    print(i,j)

고기잡이 100
고기팔기 120
낚시 5
통발 5
큰그물 5

In [ ]:
skill_name = ['고기잡이', '고기팔기', '낚시']
skill_point = [100, 120, 5]

for i, j in zip(skill_name, skill_point):
    print(i,j)

고기잡이 100
고기팔기 120
낚시 5

In [ ]:
skill = [
        ('고기잡이', (1, 100)),
        ('고기팔기', (1, 100)),
        ('낚시', (2, 100)),
        ('통발', (2, 100)),
        ('큰그물', (2, 100))
]

for i, [x, y] in skill:
    print(i, x, y)

고기잡이 1 100
고기팔기 1 100
낚시 2 100
통발 2 100
큰그물 2 100

In [ ]:
# 문제
# data에는 다음과 같은 데이터가 있습니다

# 각각 skill의 이름 제한레벨 포인트 등급입니다.
# 아래와 같이 출력해주세요

data = [
        ('고기잡이',( 1, 100,'S')),
        ('고기팔기', (1, 100 ,'A')),
        ('낚시', (2, 100,'A')),
        ('통발',(2, 100 ,'B')),
        ('큰그물', (2, 100,'S'))
]

for i,(j,k,m) in data:
    print(f'축하합니다. {m}등급의 skill {i}를 습급하셨습니다!')
    print(f'해당 스킬은 레벨 제한 {j}에 스킬 포인트 {k}입니다.')

축하합니다. S등급의 skill 고기잡이를 습급하셨습니다!
해당 스킬은 레벨 제한 1에 스킬 포인트 100입니다.
축하합니다. A등급의 skill 고기팔기를 습급하셨습니다!
해당 스킬은 레벨 제한 1에 스킬 포인트 100입니다.
축하합니다. A등급의 skill 낚시를 습급하셨습니다!
해당 스킬은 레벨 제한 2에 스킬 포인트 100입니다.
축하합니다. B등급의 skill 통발를 습급하셨습니다!
해당 스킬은 레벨 제한 2에 스킬 포인트 100입니다.
축하합니다. S등급의 skill 큰그물를 습급하셨습니다!
해당 스킬은 레벨 제한 2에 스킬 포인트 100입니다.

##while

In [ ]:
# 반복문  : for, while
a = 1
while a < 10:
    print(a)
    a += 1

1
2
3
4
5
6
7
8
9

In [ ]:
# while 특정요소:
#     특정요소 값 꺼내는 문법
#     특정요소가 모두 없어질 때까지

l = [1, 2, 3]
while l:
    print(l.pop())

3
2
1

In [ ]:
import random
# up down game

result = random.randint(1, 100)

while True:
    user_input = int(input())
    if user_input > result:
        print('down')
    elif user_input < result:
        print('up')
    else:
        print('맞췄습니다!')
        print('프로그램을 종료합니다.')
        break

In [ ]:
def solution(n):
    count = 0
    d_count = n

    while d_count:
        count += 1
        if count % 3 == 0 or '3' in str(count):
            d_count -= 1
    return count

## 실제 데이터를 가지고 연습 (json gen)

In [ ]:
data = [
  {
    "_id": "6459ca226ab9e18b9572d513",
    "age": 40,
    "eyeColor": "brown",
    "name": "Kaye Sims",
    "gender": "female"
  },
  {
    "_id": "6459ca2299768d92168a5892",
    "age": 30,
    "eyeColor": "green",
    "name": "Kemp Parrish",
    "gender": "male"
  },
  {
    "_id": "6459ca2232178427fad52528",
    "age": 40,
    "eyeColor": "brown",
    "name": "Bianca Moon",
    "gender": "female"
  },
  {
    "_id": "6459ca221a98e9272d31da6e",
    "age": 34,
    "eyeColor": "green",
    "name": "Bette Reeves",
    "gender": "female"
  },
  {
    "_id": "6459ca2243fa0eedcf9683d1",
    "age": 31,
    "eyeColor": "green",
    "name": "Stacey Burns",
    "gender": "female"
  }
]

data[0]['gender']

age, gender = 0,[0,0]
for i in data:
    age += i['age']
    gender[0 if i['gender'] == 'male' else 1] += 1
age/len(data), gender

(35.0, [1, 4])

## 알아야 하는 built-in function

### 수학적 통계에 활용되는 함수

- abs( ) : 괄호 안에 있는 값을 절대값으로 출력해줍니다.
- all( ) : 괄호 안에 있는 값들이 모두 True(False)일 때 True(False)를 출력합니다.
- any( ) : 괄호안에 있는 값이 하나라고 True이면 True로 출력합니다.
- pow( ) : 제곱을 출력합니다.
- max( ) : 값의 최댓값을 출력합니다.
- min( ) : 값의 최솟값을 출력합니다.
- sum( ) : 값의 합계를 출력합니다.
- len( ) : 문자열의 길이를 출력합니다.
- sorted( ) : 데이터를 정렬해줍니다.
- reversed( ) : 정렬되지 않은 상태에서 값을 역순으로 출력합니다.

In [ ]:
abs(-1)
all([True, True, True])
all([True, True, False])
all(['a', 'b', 'ccc'])
all(['a', '', 'ccc'])
if all([3 > 5, 12 % 2 == 0, 15 % 5 == 0]):
    print('hello')

if all([3 > 5, 
        12 % 2 == 0, 
        15 % 5 == 0]):
    print('hello')


if 3 > 5 and 12 % 2 == 0 and 15 % 5 == 0:
    print('hello')

# if all([one(), two(), three()]):
#     print('hello')

# all(True, True, True) # all() takes exactly one argument (3 given)

pow(2, 3) # 2 ** 3

8

In [ ]:
sum([[1, 2], [3, 4], [5, 6]], [])
sum([1, 2, 3, 4, 5], 100)
# sum([1, 2, 3, 4, 5], {1, 2, 3}) # error

In [ ]:
# __len__가 없는 것들 : map, zip, filter...
class str(str):
    def __len__(self):
        return 1000

len(str('hello world'))

1000

In [ ]:
# len(zip([1, 2, 3], 'abc')) # error

### 형변환 함수

- set( )
- dict( )
- hex( ) : 16진법
- bin( ) : 2진법
- oct( ) : 8진법
- bool( )
- str( )
- ord( ) : 각각의 문자에 대한 숫자값을 출력해줍니다.(유니코드표를 참고하세요.)
- float( )
- tuple( )
- chr( ) : 숫자값을 통해서 문자를 출력합니다.
- list( )
- range( )
- complex( )

In [ ]:
l = [1, 2, 3]
type(l)

list

In [ ]:
# 아래 3개는 int형
# bin( ) : 2진법
# oct( ) : 8진법
# hex( ) : 16진법
bin(7)
type(bin(7))
0b111
type(0b111)
int('111', 2)
int('0b111', 2)
# int(0b111, 2) #error

In [ ]:
chr(65)
ord('A')

65

In [ ]:
# list(range(start, stop, step))
list(range(0, 10, 2))
list(range(0, 10))
list(range(10))
list(range(-10, 10, 2))
list(range(0, -10, -2))

[0, -2, -4, -6, -8]

### 도움말

In [ ]:
def hojun():
    '''
    이호준이 작성한 함수
    '''
    pass

help(hojun)

Help on function hojun in module __main__:

hojun()
    이호준이 작성한 함수

### object 관련 함수

- dir( )
- id( )
- type( )

In [ ]:
# dir() # directory에 약자로 대상이 가진 attribute를 모두 출력합니다.
# attribute가 무엇인가? class에서 배울 멤버 + 메서드 입니다.

In [ ]:
def f():
    return 100

f.name = 'leehojun'
dir(f)
print(f.name)

leehojun

In [ ]:
# 배우는 재미
# 단시간에 될 수 없습니다. => 경쟁력

In [ ]:
l = 10
# 복사가 제대로 이뤄졌나?
id(l) # 깊은복사, 얕은복사

140662941172240

In [ ]:
type('abc') # str
print(type('abc')) # <class 'str'>
# print(type(f)) # class가 전체 Python을 관통하고 있습니다.

<class 'str'>
<class 'function'>

### 유용한 순회 가능 객체

- enumerate( ) : 값에 순위를 매기고 싶을 때 사용합니다.
- range( )
- filter( )
- zip( )
- map( )

In [ ]:
print(type(range(3)))

<class 'range'>

In [ ]:
list(enumerate([10, 20, 30]))

[(0, 10), (1, 20), (2, 30)]

In [ ]:
list(enumerate([10, 20, 30], 100))
# list(enumerate([10, 20, 30], 'abc')) # error 뒤에 숫자를 입력해야 합니다.

In [ ]:
def 함수(x):
    return x > 15

list(filter(함수, [10, 20, 30, 40]))
list(filter(None, [True, True, False, False]))
# filter에 None 주는 것이 어디에 유용할까요?
# 여러가지 자료형이 섞여 있을 때 값이 들어있는 것만 찾을 경우
list(filter(None, [[], 'abc', '', '']))

['abc']

In [ ]:
list(zip('abc', 'defaaaa', 'ght', [1, 2, 3], [4, 5, 6, 7]))

[('a', 'd', 'g', 1, 4), ('b', 'e', 'h', 2, 5), ('c', 'f', 't', 3, 6)]

In [ ]:
x = [5,4,6,8,2]
list(zip('abcdefg',sorted(x)))

[('a', 2), ('b', 4), ('c', 5), ('d', 6), ('e', 8)]

In [ ]:
x = [5, 4, 6, 8, 2]
y = [7, 6, 45, 4, 2, 3, 3]
list(zip('abcdefg', zip(x, y)))

[('a', (5, 7)), ('b', (4, 6)), ('c', (6, 45)), ('d', (8, 4)), ('e', (2, 2))]

## args, kargs

* 가변 아규먼트, 가변 키워드 아규먼트

In [ ]:
def print_args(*args): # 꼭 args가 될 필요는 없습니다.
    print(args)

print_args(100, True, 'leehojun')

(100, True, 'leehojun')

In [ ]:
def print_kwargs(a, **kwargs): # 꼭 kargs가 될 필요는 없습니다.
    print(a)
    print(kwargs)

print_kwargs(100, name='leehojun', age='10')

100
{'name': 'leehojun', 'age': '10'}

In [ ]:
def print_args(*args, b): # error입니다.
    print(args)

print_args(100, True, 'leehojun')

In [ ]:
def print_args(b, *args): # error입니다.
    print(args)

print_args(100, True, 'leehojun')

(True, 'leehojun')

In [ ]:
def print_args(b, *args): # error입니다. args 앞에 순서대로 넣을 변수가 있어야 합니다.
    print(args)

print_args(100, True, b='leehojun')

In [ ]:
one, two, *three = 1, 2, 3, 4, 5 # *가 하는 역활은? 남은 데이터의 패킹
print(one, two, three)

1 2 [3, 4, 5]

## lambda

+ lambda는 익명함수라고 하며, 이름이 없는 함수

In [ ]:
jg = lambda x:x**2
print(type(jg))

<class 'function'>

In [ ]:
cac = [
    lambda x,y:x+y,
    lambda x,y:x-y,
    lambda x,y:x/y,
    lambda x,y:x*y,
]
cac[2](10,20)

0.5

In [ ]:
def f():
    return lambda x,y :x+y
f()(10,20)

30

In [ ]:
def f():
    return lambda x:lambda i:x*i**2
f()(2)(10)

200

##lambda 실무 응용

+ lambda가 응용되는 곳 :  map,filter,max,min,sorted

In [ ]:
# 실무에서
def 제곱(x):
    return  x ** 2

# 재사용 하는 경우에는 함수로 선언하는 경우도 있습니다.
list(map(제곱, [1, 2, 3, 4]))
list(map(제곱, [1, 2, 3, 4]))

list(map(lambda x : x ** 2, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [ ]:
숫자 = [1,2,3,4,5]
승수 = [2,2,2,3,3]

pow = list(map(lambda x: x[0]**x[1], zip(숫자,승수)))
print(pow)
print(list(filter(lambda x:x>=100, pow)))
print(sum(pow))

[1, 4, 9, 64, 125]
[125]
203

In [ ]:
def solution(players, callings):
    rank = {i:99*(j+1) for j,i in enumerate(players)}
    for i in callings:
        rank[i] -= 100
    print(rank)
    return [i[0] for i in sorted(rank.items() ,key = lambda x:x[1])]

In [ ]:
solution(["mumu", "soe", "poe", "kai", "mine"],["kai", "kai", "mine", "mine"])

{'mumu': 99, 'soe': 198, 'poe': 297, 'kai': 196, 'mine': 295}

['mumu', 'kai', 'soe', 'mine', 'poe']

##클래스

* 클래스는 데이터(멤버)와 기능(메서드)을 가지고 있는 인스턴트 객체를 생성하기 위한 역할
* 우리가 배우고 있는 Python을 객체 지향 프로그래밍 언어

![image.png]()

In [ ]:
# 메서드 : 클래스 내 함수
# 멤버 = 클래스 내 변수
class Car(object):
    max_speed = 300
    max_people = 5
    
    def __init__(self, userInputName):
        self.name = userInputName
    def move(self):
        print(self.name,'움직임')
# 아래 self는 스스로를 가리킴
# self는 인스턴스를 가리킴
# 클래스로 바로 접근해서 무엇을 하는것을 권고하지않음
# 제대로 알지 못하는 상태에서는(인스턴스, 클래스변수)
#print(Car.max_speed)

k5 = Car('k5') #붕어빵(인스턴스) = 붕어빵 틀(클래스)
k5.move()

k3 = Car('k3')
k3.move()

k5 움직임
k3 움직임

In [ ]:
print(type(k3))
print(dir(k3))
# 'max_people' 멤버
# 'max_speed' 멤버
# 'move' 메소드
# 'name' 멤버

<class '__main__.Car'>
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'max_people', 'max_speed', 'move', 'name']

In [ ]:
#클래스 변수
# 클래스 변수는 클래스 바로 하위에 자리하고 있는 변수
# 클래스 변수는 모든 인스턴스가 공유합니다.


class Car(object):
    kinds = []
    speed = 300
    def add_kinds(self, name):
        self.kinds.append(name)
    def change_speed(self, speed):
        self.speed = speed

k5 = Car()
k3 = Car()
k5.add_kinds('k5')
k3.add_kinds('k3')
k5.change_speed(500)
k3.change_speed(250)

print('k5.kinds:', k5.kinds)
print('k3.kinds:', k3.kinds)
print('k5.speed:', k5.speed)
print('k3.speed:', k3.speed)

k5.kinds: ['k5', 'k3']
k3.kinds: ['k5', 'k3']
k5.speed: 500
k3.speed: 250

In [ ]:
class Car(object):
	kinds = []
	speed = 300
	def add_kinds(self, name):
		self.kinds.append(name)
	def change_speed(self, speed):
		self.speed = speed

k5 = Car()
k3 = Car()
k5.add_kinds('k5')
k3.add_kinds('k3')
k5.change_speed(500)
k3.change_speed(250)

print('k5.kinds:', k5.kinds)
print('k3.kinds:', k3.kinds)
print('k5.speed:',k5.speed)
print('k3.speed:',k3.speed)

In [ ]:
주인공 = ['licat', 10000]

class MobFactory(object):
    def __init__(self, 이름, 체력, 공격력, 마력, 크기):
        self.name = 이름
        self.power = 공격력
        self.hp = 체력
        self.mp = 마력
        self.size = 크기
        pass

    def attack(self):
        주인공[1] -= self.power
        print(f'{self.name}이 {self.power}데미지로 공격했습니다.')
        print(f'주인공의 체력이 {주인공[1]}가 되었습니다.')



개 = MobFactory(이름='개',체력 = 2,공격력 = 3,마력 = 4,크기 = 5)
새 = MobFactory(이름='새',체력 = 2,공격력 = 3,마력 = 4,크기 = 1)
개.attack()

개이 3데미지로 공격했습니다.
주인공의 체력이 9997가 되었습니다.

In [ ]:
class Hero(object):
    def __init__(self,hero_info):
        self.info = hero_info
    def get_info(self):
        print(f"{self.info['name']}/위치 : {self.info['pos']}/체력 {self.info['hp']}/{self.info['max_hp']} / 레벨{self.info['level']}")

licat = Hero({
    'name' : 'licat',
    'pos' : [1,2],
    'max_hp' : 100,
    'hp' : 100,
    'level' : 1,
})

mura = Hero({
    'name' : 'mura',
    'pos' : [5,5],
    'max_hp' : 200,
    'hp' : 200,
    'level' : 5,
})

licat.get_info()
mura.get_info()

licat/위치 : [1, 2]/체력 100/100 / 레벨1
mura/위치 : [5, 5]/체력 200/200 / 레벨5

In [ ]:
# 쉽고 중요한 예제!

class BlogFactory(object):
    def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜

게시글1 = BlogFactory(
    '오늘 제주의 날씨',
    '오늘 제주의 날씨는 참 좋네요! 블라블라',
    '0',
    '이호준',
    '2023/05/10',
    )
게시글2 = BlogFactory(
    '오늘 부산의 날씨',
    '오늘 부산의 날씨는 참 좋네요! 블라블라',
    '1000000',
    '김재현',
    '2023/05/10',
    )
게시글3 = BlogFactory(
    '오늘 강원의 날씨',
    '오늘 강원의 날씨는 참 좋네요! 블라블라',
    '10',
    '범남궁',
    '2023/05/10',
    )
    

게시글2.title

'오늘 부산의 날씨'

In [ ]:
# 쉽고 중요한 예제!

class BlogFactory(object):
    def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜

게시글1 = BlogFactory(
    '오늘 제주의 날씨',
    '오늘 제주의 날씨는 참 좋네요! 블라블라',
    '0',
    '이호준',
    '2023/05/10',
    )
게시글2 = BlogFactory(
    '오늘 부산의 날씨',
    '오늘 부산의 날씨는 참 좋네요! 블라블라',
    '1000000',
    '김재현',
    '2023/05/10',
    )
게시글3 = BlogFactory(
    '오늘 강원의 날씨',
    '오늘 강원의 날씨는 참 좋네요! 블라블라',
    '10',
    '범남궁',
    '2023/05/10',
    )
    
data = [게시글1,게시글2,게시글3]
for i in data:
    print(i.title)

오늘 제주의 날씨
오늘 부산의 날씨
오늘 강원의 날씨

In [ ]:
# 쉽고 중요한 예제!
# 이 코드는 가능하면 수기작성

class BlogFactory(object):

    def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜

게시글1 = BlogFactory(
    '오늘 제주의 날씨',
    '오늘 제주의 날씨는 참 좋네요! 블라블라',
    '0',
    '이호준',
    '2023/05/10',
    )
게시글2 = BlogFactory(
    '오늘 부산의 날씨',
    '오늘 부산의 날씨는 참 좋네요! 블라블라',
    '1000000',
    '김재현',
    '2023/05/10',
    )
게시글3 = BlogFactory(
    '오늘 강원의 날씨',
    '오늘 강원의 날씨는 참 좋네요! 블라블라',
    '10',
    '범남궁',
    '2023/05/10',
    )
    
data = [게시글1,게시글2,게시글3]
for i in data:
    if i.writer == '이호준':
        print(f'<p>{i.title}</p>')

<p>오늘 제주의 날씨</p>

In [ ]:
# 참고만 하는...

class BlogFactory(object):

    dataset = []

    def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜
        self.dataset.append(self)

게시글1 = BlogFactory(
    '오늘 제주의 날씨',
    '오늘 제주의 날씨는 참 좋네요! 블라블라',
    '0',
    '이호준',
    '2023/05/10',
    )
게시글2 = BlogFactory(
    '오늘 부산의 날씨',
    '오늘 부산의 날씨는 참 좋네요! 블라블라',
    '1000000',
    '김재현',
    '2023/05/10',
    )
게시글3 = BlogFactory(
    '오늘 강원의 날씨',
    '오늘 강원의 날씨는 참 좋네요! 블라블라',
    '10',
    '범남궁',
    '2023/05/10',
    )
for i in BlogFactory.dataset:
    print(f'<p>{i.title}</p>')

<p>오늘 제주의 날씨</p>
<p>오늘 부산의 날씨</p>
<p>오늘 강원의 날씨</p>

In [ ]:
class BlogFactory(object):
    dataset = []

    def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜
        self.dataset.append(self)
    def __str__(self):
        return 'hello'
게시글1 = BlogFactory(
        '오늘 제주의 날씨',
        '오늘 제주의 날씨는 참 좋네요! 블라블라',
        '0',
        '이호준',
        '2023/05/10',
    )
게시글2 = BlogFactory(
        '오늘 부산의 날씨',
        '오늘 부산의 날씨는 참 좋네요! 블라블라',
        '1000000',
        '김재현',
        '2023/05/10',
    )
print(게시글1)

hello

In [ ]:
import hashlib

비밀번호 = hashlib.sha256()
비밀번호.update('hellowrold!'.encode('utf-8'))
print(비밀번호.hexdigest()) # 뭘 넣든 64자로 만듬 암호화는 가능한데 복호화가 불가능함

e60c4cef025876ab764ac2861e056e43b428ff3cc148dfac309cfa940182e752

In [ ]:
# 1번째 스탭
# 공개되는 정보, 공개되지 않는 정보
# 멤버(정적 수치, 문자열)와 메서드(기능)
class Product(object):
    def __init__(self, 품명, 가격):
        self.product_name = 품명
        self.price = 가격
        
자전거 = Product(
    '자전거',
    100000,
)

class UserInfo(object):
    def __init__(self, 
                 이름, 
                 이메일,
                 비밀번호, 
                 주요접속기기, 
                 주요접속국가, 
                 주요접속지역, 
                 마지막접속일자, 
                 회원가입날짜, 
                 별명, 
                 적립금, 
                 생일, 
                 휴대폰번호, 
                 휴대폰인증여부, 
                 고객등급, 
                 휴면계정여부):
        self.이름 = 이름
        self.고객등급 = 고객등급
        self.적립금 = 적립금
    
    def 물품구매(self, product):
        self.적립금 -= product.price

    def 회원탈퇴(self):
        pass

    def 장바구니등록(self):
        pass

이호준 = UserInfo(
    이름 = '이호준',
    이메일 = 'hojun@gmail.com',
    비밀번호 = '98d234db7e91f5ba026a25d0d6f17bc5ee0a347ea2216b0c9de06d43536d49f4',
    주요접속기기 = 'Android',
    주요접속국가 = 'Korea',
    주요접속지역 = 'Jeju',
    마지막접속일자 = '23/05/10',
    회원가입날짜 = '23/05/10',
    별명 = '준',
    적립금 = 1000000000,
    생일 = '13/13',
    휴대폰번호 = '010-0000-0000',
    휴대폰인증여부 = True,
    고객등급 = 'VIP',
    휴면계정여부 = False,
)

이호준.물품구매(자전거)
이호준.적립금

999900000

In [ ]:
class UserInfo(object):
    
    def __init__(self,data):
        self.name = data['name']
        self.item = data['item']
    
    def remove(self,book):
        self.item.remove(book)
        print(self.name,self.item)
    

유저1 = UserInfo({
    'name' : '김준균',
    'item' : []
})

class BookInfo(object):

    def __init__(self,data):
        self.name = data['name']

    def __str__(self):
            return self.name
    
    def buy(self,user):
        user.item += [self]
        print(user.name,user.item)


책 = [
    BookInfo({
        'name' : '파닥파닥 Flutter'
    }),
    BookInfo({
        'name' : '[특별부록] 챗GPT'
    }),
    BookInfo({
        'name' : '[무료특별판] 게임 전쟁'
    }),
]

In [ ]:
유저1.item

[]

In [ ]:
책[0].buy(유저1)

김준균 [<__main__.BookInfo object at 0x7fe7207c6680>]

In [ ]:
유저1.remove(책[0])

김준균 []

In [ ]:
class Car(object):
    MaxSpeed = 300
    MaxPeoeple = 5
    def __init__(self):
        pass
    def move(self, x):
        pass
    def stop(self):
        print('멈췄습니다.')
    @staticmethod #decorator
    def 스피드배속(현재스피드, 배속할스피드):
        print(f'현재 {현재스피드 * 배속할스피드}의 스피드로 달리고 있습니다.')

Car.스피드배속(100, 2)

현재 200의 스피드로 달리고 있습니다.

In [ ]:
class Car(object):
    maxSpeed = 300
    maxPeople = 5
    def move(self, x):
        print(x, '의 스피드로 달리고 있습니다.')
    def stop(self):
        print('멈췄습니다.')

class HybridCar(Car):
    battery = 1000
    batteryKM = 300

class ElectricCar(HybridCar):
    battery = 2000
    batteryKM = 600

## 상속

In [ ]:
# 이 예제는 기억하고 있으셔야 합니다.
class Car:
    maxSpeed = 300
    maxPeople = 5
    def move(self, x):
        print(x, '의 스피드로 달리고 있습니다.')
    def stop(self):
        print('멈췄습니다.')

class HybridCar(Car):
    battery = 1000
    batteryKM = 300

class ElectricCar(HybridCar):
    battery = 2000
    batteryKM = 600

In [ ]:
dir(k3)

In [ ]:
K3 = Car()
HyK3 = HybridCar()
ElHyK3 = ElectricCar()
# id(K3.maxSpeed), id(HyK3.maxSpeed)
# id(K3.move), id(HyK3.move)

ElHyK3.move(10)

10 의 스피드로 달리고 있습니다.

## !! 오늘 배운 것 정리
* 클래스
    * 클래스는 데이터(멤버)와 기능(메서드)을 가지고 있는 인스턴트 객체를 생성하기 위한 역할
    * 우리가 배우고 있는 Python을 객체 지향 프로그래밍 언어
        ```
        현실                                코드
        차 ---------------------------> class Car()
        정수 -------------------------> class int()
        실수 -------------------------> class float()

        인간이 만들어 
        놓은 현실 세계에서의 
        정의 또는 약속 --------------> class
        
        1 + 1 = 2가 컴퓨터 입장에서는 10일 수도 있고
        'A' + 'A' = 'AA'가 아니라 컴퓨터 입장에서는 130일 수 있습니다.
        현실세계에서 '인간끼리' 약속을 코드에 세계로 옮긴거에요.
        ```
    * 예제 1
        ```python
        # 메서드 : 클래스 내에 함수
        # 멤버 : 클래스 내에 변수
        # 애트리뷰트 : 멤버 + 메서드
        class CarFactory(object):
            max_speed = 300
            max_people = 5
            def move(self):
                print('차가 움직이고 있습니다.')
            def stop(self):
                print('차가 멈췄습니다.')

        k5 = CarFactory()
        k3 = CarFactory()
        k5.move()
        k3.move()
        k5.stop()
        k3.stop()
        print(k5.max_speed)
        ```
    * 예제2
        ```python
        # 클래스 변수
        # 클래스 바로 하위에 자리하고 있으며
        # 모든 인스턴스가 공유합니다.
        # 인스턴스 변수
        # 인스턴스 영역 안에서만 사용하는 변수
        class Car(object):
            # kinds가 인스턴스에 없기에 class변수로 접근
            # speed는 값을 = 로 할당했기에 인스턴스변수 생성
            kinds = []
            speed = 300
            def add_kinds(self, name):
                self.kinds.append(name) # self.kinds = [name]로 사용하면 인스턴스 변수가 됩니다.
            def change_speed(self, speed):
                self.speed = speed

        k5 = Car()
        k3 = Car()
        k5.speed = 500
        k3.speed # 클래스 변수는 값을 공유한다고 했는데?
        ```
    * 예제3
        ```python
        # 쉽고 중요한 예제!
        # 이 코드는 가능하면 손으로 2 ~ 3번 써보시길 권해드립니다.

        class BlogFactory(object):
            def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
                self.title = 제목
                self.content = 내용
                self.count = 조회수
                self.writer = 글쓴이
                self.create_date = 생성날짜

        게시글1 = BlogFactory(
                '오늘 제주의 날씨',
                '오늘 제주의 날씨는 참 좋네요! 블라블라',
                '0',
                '이호준',
                '2023/05/10',
            )

        게시글2 = BlogFactory(
                '오늘 부산의 날씨',
                '오늘 부산의 날씨는 참 좋네요! 블라블라',
                '1000000',
                '김재현',
                '2023/05/10',
            )

        게시글3 = BlogFactory(
                '오늘 강원의 날씨',
                '오늘 강원의 날씨는 참 좋네요! 블라블라',
                '10000',
                '범남궁',
                '2023/05/10',
            )

        data = [게시글1, 게시글2, 게시글3]
        for i in data:
            if i.writer == '이호준':
                print(i.title)
                print(i.content)
                print(i.count)
                print(i.create_date)
        ```
* 클래스 상속
    * 클래스에서 상속은 상속해주는 클래스(Parent Class, Super class)의 내용(속성과 메소드)을 상속받는 클래스(Child class, sub class)가 가지게 되는 것
    * 코드 예
        ```python
        # 이 예제는 기억하고 있으셔야 합니다.
        class Car:
            maxSpeed = 300
            maxPeople = 5
            def move(self, x):
                print(x, '의 스피드로 달리고 있습니다.')
            def stop(self):
                print('멈췄습니다.')

        class HybridCar(Car):
            battery = 1000
            batteryKM = 300

        class ElectricCar(HybridCar):
            battery = 2000
            batteryKM = 600

        K3 = Car()
        HyK3 = HybridCar()
        ElHyK3 = ElectricCar()
        # id(K3.maxSpeed), id(HyK3.maxSpeed)
        # id(K3.move), id(HyK3.move)

        ElHyK3.move(10)
        ```

In [ ]:
# 질문 : id를 객체가 아니라 count라는 정수값을 지정해줘서 증가시키고 싶습니다.
# 답 : 아래코드처럼 사용하시면 됩니다.
class BlogFactory(object):

    count = 0

    def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
        BlogFactory.count += 1
        self.id = BlogFactory.count
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜

    def __str__(self):
        return f'{self.id}. 제목 : {self.title}, 내용 : {self.content[:5]}'

게시글1 = BlogFactory(
        '오늘 제주의 날씨',
        '오늘 제주의 날씨는 참 좋네요! 블라블라',
        '0',
        '이호준',
        '2023/05/10',
    )

게시글2 = BlogFactory(
        '오늘 부산의 날씨',
        '오늘 부산의 날씨는 참 좋네요! 블라블라',
        '1000000',
        '김재현',
        '2023/05/10',
    )

print(게시글1)
print(게시글2)

1. 제목 : 오늘 제주의 날씨, 내용 : 오늘 제주
2. 제목 : 오늘 부산의 날씨, 내용 : 오늘 부산

In [ ]:
# 자율학습시간에 대한 피드백 => 문제를 내드리기로 하였습니다.
# 매일 3시 40분 즈음에 advanced 문제를 드리고 각 조별 단톡방에 해당 내용을 공유하고 얘기하는 시간을 가지기로 하였습니다.

In [ ]:
# 어제 새벽에 주신 코드ㅎㅎ
# 반갑습니다. :) 이거 제가 오전에 설명해드려도 될까요? :) 
# 우선 설계에서 UserInfo와 Product를 상속 관계로 만드는 것은 적절치 않습니다. 
# 적절한지 여부는 부모 클래스의 정보를 자식 클래스가 가질 필요가 있는지로 판단해주시면 됩니다.
class Product(object):
    def __init__(self, 품명, 개수, 가격):
        self.product_name = 품명
        self.product_count = 개수
        self.product_price = 가격
    
    def __str__(self):
        return f'품명:{self.product_name}, 개수:{self.product_count}, 가격:{self.product_price}'

시리얼 = Product('시리얼', 20, 8900)
초코칩쿠키 = Product('초코칩쿠키', 30, 4300)
칸쵸 = Product('칸쵸', 12, 1400)

class UserInfo(Product):
    dataset = []

    def __init__(self, 이름, 닉네임, 휴대폰번호, 생년월일, 주소, 예치금, 고객등급):      
        self.user_name = 이름
        self.nickname = 닉네임
        self.user_phone = 휴대폰번호
        self.user_birth = 생년월일
        self.user_addr = 주소
        self.user_deposit = 예치금
        self.user_rank = 고객등급

    def 물품구매(self, product, count):
        self.user_deposit -= product.product_price
        시리얼.product_count -= count


홍길동 = UserInfo(
                    '홍길동', 
                    '길동이', 
                    '010-0000-0000', 
                    '1993/10/10', 
                    '경기도 광주시', 
                    1000000, 
                    'VIP')

장판수 = UserInfo(
                    '장판수', 
                    '판자', 
                    '010-1111-1111', 
                    '1992/02/10', 
                    '경기도 광명시', 
                    20000000, 
                    'Silver')

홍길동.물품구매(시리얼, 2)
print(홍길동.user_deposit)
print(시리얼.product_count)

장판수.물품구매(시리얼, 10)
print(시리얼.product_count)

print(시리얼)

991100
18
8
품명:시리얼, 개수:8, 가격:8900

In [ ]:
class Product:
    def __init__(self, 품명, 개수, 가격):
        self.product_name = 품명
        self.product_count = 개수
        self.product_price = 가격
    
    def __str__(self):
        return f'품명:{self.product_name}, 개수:{self.product_count}, 가격:{self.product_price}'

시리얼 = Product('시리얼', 20, 8900)
초코칩쿠키 = Product('초코칩쿠키', 30, 4300)
칸쵸 = Product('칸쵸', 12, 1400)

class UserInfo:
    dataset = []

    def __init__(self, 이름, 닉네임, 휴대폰번호, 생년월일, 주소, 예치금, 고객등급):      
        self.user_name = 이름
        self.nickname = 닉네임
        self.user_phone = 휴대폰번호
        self.user_birth = 생년월일
        self.user_addr = 주소
        self.user_deposit = 예치금
        self.user_rank = 고객등급

    def 물품구매(self, product, count):
        self.user_deposit -= product.product_price
        product.product_count -= count


홍길동 = UserInfo(
                    '홍길동', 
                    '길동이', 
                    '010-0000-0000', 
                    '1993/10/10', 
                    '경기도 광주시', 
                    1000000, 
                    'VIP')

장판수 = UserInfo(
                    '장판수', 
                    '판자', 
                    '010-1111-1111', 
                    '1992/02/10', 
                    '경기도 광명시', 
                    20000000, 
                    'Silver')

홍길동.물품구매(시리얼, 2)
print(홍길동.user_deposit)
print(시리얼.product_count)

장판수.물품구매(시리얼, 10)
print(시리얼.product_count)

print(시리얼)

In [ ]:
print(chr(ord("生") & ord("死")))

愛

In [ ]:
# 우리가 앞으로 알고리즘에서 할 코드입니다.
# 예방주사 차원에서 진행하도록 하겠습니다.

In [ ]:
# 아주 간단한 코드
class Node : 
    def __init__(self,data):
        self.data = data
        self.next = None

노드1 = Node(10)
노드2 = Node(20)
노드3 = Node(30)

노드1.next = 노드2
노드2.next = 노드3

노드1.next.data
노드1.next.next.data

30

##메서드 오버라이딩

* 부모 클래스에서 상속받은 함수를 자식 클래서에서 같은 이름으로 선언하여 사용하는 것

##다중상속

In [ ]:
class A(object):
    maxSpeed = 300

class B(A):
    battery = 1000

class C(A):
    battery = 2000

class D(B, C):
    pass

D.mro()
# D.battery

[__main__.D, __main__.B, __main__.C, __main__.A, object]

##비공개속성

In [ ]:
class Car(object):
    __maxSpeed = 300
    maxPeople = 5
    def move(self, x):
        print(x, '의 스피드로 움직이고 있습니다.')
        print(self.__maxSpeed, '가 최고 속도입니다.')
    def stop(self):
        print('멈췄습니다.')

k5 = Car()
k5.move(10)
# k5.__maxSpeed #error
k5.maxPeople

10 의 스피드로 움직이고 있습니다.
300 가 최고 속도입니다.

5

## 제너레이터와 이터레이터

In [ ]:
class MyIter:
    def __init__(self, stop):
        self.currentValue = 0
        self.stop = stop
    
    def __iter__(self):
        return self

    def __next__(self):
        if self.currentValue >= self.stop:
            raise StopIteration
        result = self.currentValue
        self.currentValue += 1
        return result

li = MyIter(5)

for i in li:
    print(i)

for i in li:
    print(i)

0
1
2
3
4

In [ ]:
class MyIter:
    def __init__(self, stop):
        self.stop = stop
    
    def __iter__(self):
        self.currentValue = 0
        return self

    def __next__(self):
        if self.currentValue >= self.stop:
            raise StopIteration
        result = self.currentValue
        self.currentValue += 1
        return result

li = MyIter(5)
# for는 iter먼저 실행하고, next로 StopIteration
i = iter(li)
next(i)

0

In [ ]:
a,b,c,d = MyIter(4)
print(a,b,c,d)

0 1 2 3

##제너레이터

+ 제너레이터란, 이터레이터를 생성해주는 함수

In [ ]:
def gen():
    count = 0
    while True:
        yield count
        count += 1

for i in gen():
    print(i)
    if i == 10:
        break

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
l = [10,20,30,40,50]
list(zip(l,gen()))

[(10, 0), (20, 1), (30, 2), (40, 3), (50, 4)]

In [ ]:
def gen():
    count = 0
    while True :
        yield f'{count}주차'
        count += 2
과목 = ['HTML','CSS','JavaScript','Python']

list(zip(과목,gen()))

[('HTML', '0주차'), ('CSS', '2주차'), ('JavaScript', '4주차'), ('Python', '6주차')]

In [ ]:
def gen():
    count = 0
    while True :
        yield f'{count}주차'
        count += 1
        if count == 6:
            count = 1
과목 = 'ABCDEFGHIJK'

list(zip(과목,gen()))

[('A', '0주차'),
 ('B', '1주차'),
 ('C', '2주차'),
 ('D', '3주차'),
 ('E', '4주차'),
 ('F', '5주차'),
 ('G', '1주차'),
 ('H', '2주차'),
 ('I', '3주차'),
 ('J', '4주차'),
 ('K', '5주차')]

##데코레이터

In [ ]:
@로그인
def 비밀게시판():
    return render()

In [ ]:
def one():
    return lambda x,y : x+y

더하기 = one()
더하기(10,10)

20

In [ ]:
def one():
    def two(x,y):
        return x + y
    return two

더하기 = one()
더하기(10,10)

20

In [ ]:
def print_hello(func):
    def wrap_func():
        print('hello')
        func()
    return wrap_func

@print_hello
def func1():
    print('func1 입니다')

func1()

hello
func1 입니다

In [ ]:
def 인사말(func):
    def wrap_func():
        print('안녕하세요')
        func()
    return wrap_func

@인사말
def 자기소개1():
    print('김준균입니다')

자기소개1()

안녕하세요
김준균입니다

In [ ]:
def 인사말(func):
    def wrap_func(name):
        print('안녕하세요')
        func(name)
    return wrap_func

@인사말
def 자기소개1(name):
    print(f'{name}입니다')

자기소개1('김준균')

안녕하세요
김준균입니다

In [ ]:
def 전처리(func):
    def wrap_func(iterable):
        iterable = list(map(int,iterable))
        print(func(iterable))
    return wrap_func

@전처리
def 평균(l) :
    return sum(l) / len(l)

평균(['1',2,3,'4'])

2.5

In [ ]:
def 전처리(func):
    def wrap_func(iterable):
        print(func(list(map(int,iterable))))
    return wrap_func

@전처리
def 평균(l) :
    return sum(l) / len(l)

평균(['1',2,3,'4'])

2.5

In [ ]:
# 데코레이터 실습 문제
# 다음 값이 들어갔을 때, 숫자만 모두 더하는 코드를 완성하세요.


def 전처리(func):
    def wrap_func(iterable):
        print(func([int(i) for i in iterable if str(i).isdigit() == True]))
    return wrap_func

@전처리
def custom_sum(l):
    return sum(l)
    
custom_sum(['10', True, False, '21', 0, 10, 20])

61

In [ ]:
isinstance('',int)

False

##모듈과 패키지

In [ ]:
import test1

test1.name
print(test1.hello())

None

In [ ]:
# 주의!! 같은 이름이 있었을 경우
# 마지막에 추가된 추가된 변수명으로 할당
# import * 는 더더욱 포함시키는 변수, 메서드, 클래스 명
from test2 import name
from test1 import name

print(name)

In [ ]:
# from one import two # 폴더 > 파일
from one.two import three

In [ ]:
import test1 as t
# Python 모듈
import pandas as pd
import numpy as np

In [ ]:
!pip list

Package                       Version
----------------------------- --------------------
absl-py                       1.4.0
alabaster                     0.7.13
albumentations                1.2.1
altair                        4.2.2
anyio                         3.6.2
appdirs                       1.4.4
argon2-cffi                   21.3.0
argon2-cffi-bindings          21.2.0
array-record                  0.2.0
arviz                         0.15.1
astropy                       5.2.2
astunparse                    1.6.3
attrs                         23.1.0
audioread                     3.0.0
autograd                      1.5
Babel                         2.12.1
backcall                      0.2.0
beautifulsoup4                4.11.2
bleach                        6.0.0
blis                          0.7.9
blosc2                        2.0.0
bokeh                         2.4.3
branca                        0.6.0
build                         0.10.0
CacheControl                  0.12.11
cached-property               1.5.2
cachetools                    5.3.0
catalogue                     2.0.8
certifi                       2022.12.7
cffi                          1.15.1
chardet                       4.0.0
charset-normalizer            2.0.12
chex                          0.1.7
click                         8.1.3
cloudpickle                   2.2.1
cmake                         3.25.2
cmdstanpy                     1.1.0
colorcet                      3.0.1
colorlover                    0.3.0
community                     1.0.0b1
confection                    0.0.4
cons                          0.4.5
contextlib2                   0.6.0.post1
contourpy                     1.0.7
convertdate                   2.4.0
cryptography                  40.0.2
cufflinks                     0.17.3
cvxopt                        1.3.0
cvxpy                         1.3.1
cycler                        0.11.0
cymem                         2.0.7
Cython                        0.29.34
dask                          2022.12.1
datascience                   0.17.6
db-dtypes                     1.1.1
dbus-python                   1.2.16
debugpy                       1.6.6
decorator                     4.4.2
defusedxml                    0.7.1
distributed                   2022.12.1
dlib                          19.24.1
dm-tree                       0.1.8
docutils                      0.16
dopamine-rl                   4.0.6
duckdb                        0.7.1
earthengine-api               0.1.350
easydict                      1.10
ecos                          2.0.12
editdistance                  0.6.2
en-core-web-sm                3.5.0
entrypoints                   0.4
ephem                         4.1.4
et-xmlfile                    1.1.0
etils                         1.2.0
etuples                       0.3.8
exceptiongroup                1.1.1
fastai                        2.7.12
fastcore                      1.5.29
fastdownload                  0.0.7
fastjsonschema                2.16.3
fastprogress                  1.0.3
fastrlock                     0.8.1
filelock                      3.12.0
firebase-admin                5.3.0
Flask                         2.2.4
flatbuffers                   23.3.3
flax                          0.6.9
folium                        0.14.0
fonttools                     4.39.3
frozendict                    2.3.7
fsspec                        2023.4.0
future                        0.18.3
gast                          0.4.0
GDAL                          3.3.2
gdown                         4.6.6
gensim                        4.3.1
geographiclib                 2.0
geopy                         2.3.0
gin-config                    0.5.0
glob2                         0.7
google                        2.0.3
google-api-core               2.11.0
google-api-python-client      2.84.0
google-auth                   2.17.3
google-auth-httplib2          0.1.0
google-auth-oauthlib          1.0.0
google-cloud-bigquery         3.9.0
google-cloud-bigquery-storage 2.19.1
google-cloud-core             2.3.2
google-cloud-datastore        2.15.1
google-cloud-firestore        2.11.0
google-cloud-language         2.9.1
google-cloud-storage          2.8.0
google-cloud-translate        3.11.1
google-colab                  1.0.0
google-crc32c                 1.5.0
google-pasta                  0.2.0
google-resumable-media        2.5.0
googleapis-common-protos      1.59.0
googledrivedownloader         0.4
graphviz                      0.20.1
greenlet                      2.0.2
grpcio                        1.54.0
grpcio-status                 1.48.2
gspread                       3.4.2
gspread-dataframe             3.0.8
gym                           0.25.2
gym-notices                   0.0.8
h5netcdf                      1.1.0
h5py                          3.8.0
hijri-converter               2.3.1
holidays                      0.23
holoviews                     1.15.4
html5lib                      1.1
httpimport                    1.3.0
httplib2                      0.21.0
humanize                      4.6.0
hyperopt                      0.2.7
idna                          3.4
imageio                       2.25.1
imageio-ffmpeg                0.4.8
imagesize                     1.4.1
imbalanced-learn              0.10.1
imgaug                        0.4.0
importlib-resources           5.12.0
imutils                       0.5.4
inflect                       6.0.4
iniconfig                     2.0.0
intel-openmp                  2023.1.0
ipykernel                     5.5.6
ipython                       7.34.0
ipython-genutils              0.2.0
ipython-sql                   0.4.1
ipywidgets                    7.7.1
itsdangerous                  2.1.2
jax                           0.4.8
jaxlib                        0.4.7+cuda11.cudnn86
jieba                         0.42.1
Jinja2                        3.1.2
joblib                        1.2.0
jsonpickle                    3.0.1
jsonschema                    4.3.3
jupyter-client                6.1.12
jupyter-console               6.1.0
jupyter_core                  5.3.0
jupyter-server                1.24.0
jupyterlab-pygments           0.2.2
jupyterlab-widgets            3.0.7
kaggle                        1.5.13
keras                         2.12.0
kiwisolver                    1.4.4
korean-lunar-calendar         0.3.1
langcodes                     3.3.0
lazy_loader                   0.2
libclang                      16.0.0
librosa                       0.10.0.post2
lightgbm                      3.3.5
lit                           16.0.3
llvmlite                      0.39.1
locket                        1.0.0
logical-unification           0.4.5
LunarCalendar                 0.0.9
lxml                          4.9.2
Markdown                      3.4.3
markdown-it-py                2.2.0
MarkupSafe                    2.1.2
matplotlib                    3.7.1
matplotlib-inline             0.1.6
matplotlib-venn               0.11.9
mdurl                         0.1.2
miniKanren                    1.0.3
missingno                     0.5.2
mistune                       0.8.4
mizani                        0.8.1
mkl                           2019.0
ml-dtypes                     0.1.0
mlxtend                       0.14.0
more-itertools                9.1.0
moviepy                       1.0.3
mpmath                        1.3.0
msgpack                       1.0.5
multipledispatch              0.6.0
multitasking                  0.0.11
murmurhash                    1.0.9
music21                       8.1.0
natsort                       8.3.1
nbclient                      0.7.4
nbconvert                     6.5.4
nbformat                      5.8.0
nest-asyncio                  1.5.6
networkx                      3.1
nibabel                       3.0.2
nltk                          3.8.1
notebook                      6.4.8
numba                         0.56.4
numexpr                       2.8.4
numpy                         1.22.4
oauth2client                  4.1.3
oauthlib                      3.2.2
opencv-contrib-python         4.7.0.72
opencv-python                 4.7.0.72
opencv-python-headless        4.7.0.72
openpyxl                      3.0.10
opt-einsum                    3.3.0
optax                         0.1.5
orbax-checkpoint              0.2.1
osqp                          0.6.2.post8
packaging                     23.1
palettable                    3.3.3
pandas                        1.5.3
pandas-datareader             0.10.0
pandas-gbq                    0.17.9
pandocfilters                 1.5.0
panel                         0.14.4
param                         1.13.0
parso                         0.8.3
partd                         1.4.0
pathlib                       1.0.1
pathy                         0.10.1
patsy                         0.5.3
pexpect                       4.8.0
pickleshare                   0.7.5
Pillow                        8.4.0
pip                           23.1.2
pip-tools                     6.13.0
platformdirs                  3.3.0
plotly                        5.13.1
plotnine                      0.10.1
pluggy                        1.0.0
polars                        0.17.3
pooch                         1.6.0
portpicker                    1.3.9
prefetch-generator            1.0.3
preshed                       3.0.8
prettytable                   0.7.2
proglog                       0.1.10
progressbar2                  4.2.0
prometheus-client             0.16.0
promise                       2.3
prompt-toolkit                3.0.38
prophet                       1.1.2
proto-plus                    1.22.2
protobuf                      3.20.3
psutil                        5.9.5
psycopg2                      2.9.6
ptyprocess                    0.7.0
py-cpuinfo                    9.0.0
py4j                          0.10.9.7
pyarrow                       9.0.0
pyasn1                        0.5.0
pyasn1-modules                0.3.0
pycocotools                   2.0.6
pycparser                     2.21
pyct                          0.5.0
pydantic                      1.10.7
pydata-google-auth            1.7.0
pydot                         1.4.2
pydot-ng                      2.0.0
pydotplus                     2.0.2
PyDrive                       1.3.1
pyerfa                        2.0.0.3
pygame                        2.3.0
Pygments                      2.14.0
PyGObject                     3.36.0
pymc                          5.1.2
PyMeeus                       0.5.12
pymystem3                     0.2.0
PyOpenGL                      3.1.6
pyparsing                     3.0.9
pyproject_hooks               1.0.0
pyrsistent                    0.19.3
PySocks                       1.7.1
pytensor                      2.10.1
pytest                        7.2.2
python-apt                    0.0.0
python-dateutil               2.8.2
python-louvain                0.16
python-slugify                8.0.1
python-utils                  3.5.2
pytz                          2022.7.1
pytz-deprecation-shim         0.1.0.post0
pyviz-comms                   2.2.1
PyWavelets                    1.4.1
PyYAML                        6.0
pyzmq                         23.2.1
qdldl                         0.1.7
qudida                        0.0.4
regex                         2022.10.31
requests                      2.27.1
requests-oauthlib             1.3.1
requests-unixsocket           0.2.0
requirements-parser           0.5.0
rich                          13.3.4
rpy2                          3.5.5
rsa                           4.9
scikit-image                  0.19.3
scikit-learn                  1.2.2
scipy                         1.10.1
scs                           3.2.3
seaborn                       0.12.2
Send2Trash                    1.8.0
setuptools                    67.7.2
shapely                       2.0.1
six                           1.16.0
sklearn-pandas                2.2.0
smart-open                    6.3.0
sniffio                       1.3.0
snowballstemmer               2.2.0
sortedcontainers              2.4.0
soundfile                     0.12.1
soupsieve                     2.4.1
soxr                          0.3.5
spacy                         3.5.2
spacy-legacy                  3.0.12
spacy-loggers                 1.0.4
Sphinx                        3.5.4
sphinxcontrib-applehelp       1.0.4
sphinxcontrib-devhelp         1.0.2
sphinxcontrib-htmlhelp        2.0.1
sphinxcontrib-jsmath          1.0.1
sphinxcontrib-qthelp          1.0.3
sphinxcontrib-serializinghtml 1.1.5
SQLAlchemy                    2.0.10
sqlparse                      0.4.4
srsly                         2.4.6
statsmodels                   0.13.5
sympy                         1.11.1
tables                        3.8.0
tabulate                      0.8.10
tblib                         1.7.0
tenacity                      8.2.2
tensorboard                   2.12.2
tensorboard-data-server       0.7.0
tensorboard-plugin-wit        1.8.1
tensorflow                    2.12.0
tensorflow-datasets           4.9.2
tensorflow-estimator          2.12.0
tensorflow-gcs-config         2.12.0
tensorflow-hub                0.13.0
tensorflow-io-gcs-filesystem  0.32.0
tensorflow-metadata           1.13.1
tensorflow-probability        0.19.0
tensorstore                   0.1.36
termcolor                     2.3.0
terminado                     0.17.1
text-unidecode                1.3
textblob                      0.17.1
tf-slim                       1.1.0
thinc                         8.1.9
threadpoolctl                 3.1.0
tifffile                      2023.4.12
tinycss2                      1.2.1
toml                          0.10.2
tomli                         2.0.1
toolz                         0.12.0
torch                         2.0.0+cu118
torchaudio                    2.0.1+cu118
torchdata                     0.6.0
torchsummary                  1.5.1
torchtext                     0.15.1
torchvision                   0.15.1+cu118
tornado                       6.2
tqdm                          4.65.0
traitlets                     5.7.1
triton                        2.0.0
tweepy                        4.13.0
typer                         0.7.0
types-setuptools              67.7.0.1
typing_extensions             4.5.0
tzdata                        2023.3
tzlocal                       4.3
uritemplate                   4.1.1
urllib3                       1.26.15
vega-datasets                 0.9.0
wasabi                        1.1.1
wcwidth                       0.2.6
webcolors                     1.13
webencodings                  0.5.1
websocket-client              1.5.1
Werkzeug                      2.3.0
wheel                         0.40.0
widgetsnbextension            3.6.4
wordcloud                     1.8.2.2
wrapt                         1.14.1
xarray                        2022.12.0
xarray-einstats               0.5.1
xgboost                       1.7.5
xlrd                          2.0.1
yellowbrick                   1.5
yfinance                      0.2.18
zict                          3.0.0
zipp                          3.15.0

In [ ]:
import pygame

# 초기화
pygame.init()
width, height = 400 , 250
screen = pygame.display.set_mode((width, height))
pygame.display.set_caption("서명 그리기")

# 변수 초기화
drawing = False
last_pos = None

# Surface 생성
canvas = pygame.Surface((width, height), pygame.SRCALPHA)

# 루프 시작
while True:
    # 이벤트 처리
    for event in pygame.event.get():
        if event.type == pygame.QUIT:
            pygame.quit()
            quit()
        elif event.type == pygame.MOUSEBUTTONDOWN:
            if event.button == 1:
                # 마우스 왼쪽 버튼 누르면 그림 그리기 시작
                drawing = True
                last_pos = event.pos
        elif event.type == pygame.MOUSEBUTTONUP:
            if event.button == 1:
                # 마우스 왼쪽 버튼 뗄 때 그림 그리기 중단
                drawing = False
                last_pos = None
            elif event.button == 3:
                # 마우스 오른쪽 버튼 누르면 그림 저장하고 종료
                pygame.image.save(canvas, "서명.png")
                pygame.quit()
                quit()
        elif event.type == pygame.MOUSEMOTION:
            if drawing:
                # 마우스 움직일 때 그림 그리기
                pos = event.pos
                pygame.draw.line(canvas, (0, 0, 0, 255), last_pos, pos, 5)
                last_pos = pos

    # 화면 업데이트
    screen.fill((255, 255, 255))
    screen.blit(canvas, (0, 0))
    pygame.display.flip()

pygame 2.3.0 (SDL 2.24.2, Python 3.10.11)
Hello from the pygame community. https://www.pygame.org/contribute.html

error: ignored

##파일 입출력

In [ ]:
f = open('python.txt'.'w')# 파일 모드 : r(read), w(write 덮어쓰기), a(append)
f.close()

In [ ]:
f = open('python.txt', 'w')
s = 'hello\nworld'
f.close()

* 오늘 접속자 수 기초통계를 엑셀파일로 뽑아주는 기능을 제작해주세요
* 해당 엑셀을 pdf로 뽑는기능도 해줘잉

## Python Error 처리

* Python에서는 애러를 만나면 코드가(서비스가) 멈춥니다.
* 여러분들이 짠 코드가 서비스에 영향이 끼쳐지지 않도록 시니어 분들이 견고한 코드를 작성해놨을 겁니다.
* TDD, 테스트 주도 개발 등 Test를 할 수 있는 환경 등이 갖춰져 있습니다.
* 작성한 코드는 실서비스로 바로 배포되지 않습니다. 작성한 코드는 테스트 서버로 일단 배포되서 잘 작동하는지 테스트 해봅니다.

## 1.1. 문법 에러(Syntax Error)

문법 에러는 파이썬 코드를 실행하기 전에 발생하는 에러로, 코드 작성 시 오타나 문법적인 오류가 있을 경우 발생합니다. 이 경우 파이썬 인터프리터는 해당 줄에서 에러가 발생했음을 알려주며, 발견된 오류의 위치와 종류를 알려줍니다.

```python
# Syntax Error
for i in range(10)
    print(i)
```

## 1.2. 이름 에러(Name Error)

이름 에러는 정의되지 않은 변수나 함수를 호출했을 때 발생합니다. 이 경우 파이썬 인터프리터는 해당 변수나 함수를 찾을 수 없다는 메시지를 출력합니다.

```python
# Name Error
print(x)
```

## 1.3. 타입 에러(Type Error)

타입 에러는 서로 다른 타입의 변수 간 연산이나 함수 호출 시 발생합니다. 이 경우 파이썬 인터프리터는 해당 연산이나 함수 호출이 불가능하다는 메시지를 출력합니다.

```python
# Type Error
x = 10
y = '20'
print(x + y)
```

## 1.4. 인덱스 에러(Index Error)

인덱스 에러는 리스트나 튜플 등의 시퀀스 타입에서 존재하지 않는 인덱스를 호출했을 때 발생합니다. 이 경우 파이썬 인터프리터는 해당 인덱스를 찾을 수 없다는 메시지를 출력합니다.

```python
# Index Error
my_list = [1, 2, 3]
print(my_list[3])
```

## 1.5. 키 에러(Key Error)

키 에러는 딕셔너리에서 존재하지 않는 키를 호출했을 때 발생합니다. 이 경우 파이썬 인터프리터는 해당 키를 찾을 수 없다는 메시지를 출력합니다.

```python
# Key Error
my_dict = {'a': 1, 'b': 2}
print(my_dict['c'])
```

## 1.6. 값 에러(ValueError)

값 에러는 내장 함수나 메서드의 인자로 전달된 값의 타입이나 값이 유효하지 않을 때 발생합니다. 이 경우 파이썬 인터프리터는 해당 값을 처리할 수 없다는 메시지를 출력합니다.

```python
# Value Error
int('a')
```

## 1.7. 제로 나누기 에러(ZeroDivisionError)

제로 나누기 에러는 0으로 나누기 연산을 수행할 때 발생합니다. 이 경우 파이썬 인터프리터는 해당 연산이 불가능하다는 메시지를 출력합니다.

```python
# ZeroDivision Error
x = 10
y = 0
print(x / y)
```

## 1.8. 어트리뷰트 에러(Attribute Error)

어트리뷰트 에러는 객체에 존재하지 않는 속성이나 메서드를 호출했을 때 발생합니다. 이 경우 파이썬 인터프리터는 해당 속성이나 메서드를 찾을 수 없다는 메시지를 출력합니다.

```python
# Attribute Error
my_list = [1, 2, 3]
print(my_list.append(4))
```

## 1.9. 인자 개수 에러(TypeError)

인자 개수 에러는 함수나 메서드에 전달된 인자의 개수가 맞지 않을 때 발생합니다. 이 경우 파이썬 인터프리터는 해당 함수나 메서드에 전달된 인자의 개수가 맞지 않다는 메시지를 출력합니다.

```python
# Type Error
def add(x, y):
    return x + y

add(1, 2, 3)
```

## 1.10. 파일 입출력 에러(File I/O Error)

파일 입출력 에러는 파일을 열거나 쓰거나 읽을 때 발생할 수 있습니다. 파일이 존재하지 않거나 권한이 없는 경우 발생할 수 있으며, 이 경우 파이썬 인터프리터는 해당 파일을 찾을 수 없다는 메시지를 출력합니다.

```python
# File I/O Error
f = open('non-existent.txt', 'r')
f.read()
```

## 2. python 예외처리

파이썬에서 예외(exception)란 프로그램이 실행 중 예기치 않은 상황이 발생하여 프로그램이 종료되는 것을 의미합니다. 예를 들어, 정수를 0으로 나누려고 시도하거나, 존재하지 않는 파일을 열려고 시도하는 등의 상황에서 예외가 발생할 수 있습니다. 이러한 예외 상황에서 프로그램이 강제 종료되는 것을 방지하고, 예외 상황을 처리하는 방법을 "예외 처리"라고 합니다.

## 2.1. 예외란? 예외처리 방법 try except

예외란 프로그램이 실행 중 예기치 않은 상황이 발생하여 프로그램이 종료되는 것을 말합니다. 이러한 예외 상황에서 프로그램이 강제 종료되는 것을 방지하고, 예외 상황을 처리하는 방법을 "예외 처리"라고 합니다. 파이썬에서는 try except 구문을 사용하여 예외 처리를 할 수 있습니다.

```python
try:
    # 예외가 발생할 가능성이 있는 코드
except:
    # 예외 처리 코드
```

## 2.2. 예외 처리 방법 try, except, else, finally

### 2.2-1) try + except

try except 구문을 사용하여 예외 처리를 할 수 있습니다. try 블록 내에서 예외가 발생하면, except 블록이 실행되고 프로그램이 종료되지 않습니다.

```python
try:
    # 예외가 발생할 가능성이 있는 코드
except:
    # 예외 처리 코드
```

### 2.2-2) try + except + else

try except else 구문을 사용하여 예외 처리를 할 수 있습니다. try 블록 내에서 예외가 발생하지 않으면, else 블록이 실행됩니다.

```python
try:
    # 예외가 발생할 가능성이 있는 코드
except:
    # 예외 처리 코드
else:
    # 예외가 발생하지 않을 때 실행되는 코드
```

### 2.2-3) try + finally

try finally 구문을 사용하여 예외 처리를 할 수 있습니다. finally 블록은 예외 발생 여부와 상관없이 항상 실행됩니다.

```python
try:
    # 예외가 발생할 가능성이 있는 코드
finally:
    # 예외 발생 여부와 상관없이 항상 실행되는 코드
```

### 2.2-4) try + except + finally

try except finally 구문을 사용하여 예외 처리를 할 수 있습니다. finally 블록은 예외 발생 여부와 상관없이 항상 실행됩니다.

```python
try:
    # 예외가 발생할 가능성이 있는 코드
except:
    # 예외 처리 코드
finally:
    # 예외 발생 여부와 상관없이 항상 실행되는 코드
```

### 2.2-5) try + except + else + finally

try except else finally 구문을 사용하여 예외 처리를 할 수 있습니다. else 블록은 예외가 발생하지 않을 때 실행되는 코드이며, finally 블록은 예외 발생 여부와 상관없이 항상 실행됩니다.
```python
try:
    # 예외가 발생할 가능성이 있는 코드
except:
    # 예외 처리 코드
else:
    # 예외가 발생하지 않을 때 실행되는 코드
finally:
    # 예외 발생 여부와 상관없이 항상 실행되는 코드
```

In [ ]:
num = int(input('숫자 : '))

def divisor(num):
    return [i for i in range(2,num+1) if num % i == 0]

divisor(num)

숫자 : 8

[2, 4, 8]

In [ ]:
def solution(l, a):
    return l.count(a) 

solution(['a', 'b', 'c', 'a', 'a'], 'a') # 정답 : 3

3

In [ ]:
def solution(l):
    return list(map(lambda x:x[0]-x[1],l))

solution([[10, 5], [20, 3], [30, 4], [40, 1]]) 
# 정답 : [[5], [17], [26], [39]]

[5, 17, 26, 39]

In [ ]:
def solution(s):
    return sum(map(int,list(s)))

solution('11123') 
# 정답 : 8

8

In [ ]:
def solution(s):
    return s.replace('!', '').replace(' ', '')

solution('!hello!wor     ld!     ') 
# 정답 : helloworld

'helloworld'


##클로저,팩토리함수

In [ ]:
def one(x):
    def two():
        return x + x
    return two
hello = one(10) #hello == two
hello() # hello() == two()

20